<template>
  <div>
    <TabBar @renderTabs="renderTabs" />
    <component :is="componentName" />
  </div>
</template>
<script lang="ts">
import { Vue, Options } from "vue-class-component";
import TabBar from "@/components/LeftSidebar/TabBar.vue";
import Profile from "@/components/LeftSidebar/tabs/Profile.vue";
import Achievements from "@/components/LeftSidebar/tabs/Achievements.vue";
import EducationTab from "@/components/LeftSidebar/tabs/EducationTab.vue";
import Summary from "@/components/LeftSidebar/tabs/Summary.vue";
import TechnicalSkills from "@/components/LeftSidebar/tabs/TechnicalSkills.vue";
import ProjectDetailTab from "@/components/LeftSidebar/tabs/ProjectDetailTab.vue";
import Certifications from "@/components/LeftSidebar/tabs/Certifications.vue";

@Options({
  components: {
    TabBar,
    Profile,
    Summary,
    TechnicalSkills,
    EducationTab,
    Achievements,
    Certifications,
    ProjectDetailTab,
  },
  props: {
    empData: Object,
  },
})
export default class LeftSidebar extends Vue {
  componentName = "Profile";
  renderTabs(tabName: string): void {
    this.componentName = tabName;
  }
}
</script>