<template>
  <div>
    <div class="mb-6 d-flex align-items-center row">
      <div
        class="d-flex cursor-pointer select-none text-secondary hover:text-dark col-1 pr-lg-4 pr-md-2 arrow-left"
        @click="
          () => {
            scrollBy(-100);
            updateTabName();
          }
        "
      >
        <font-awesome-icon
          icon="chevron-left"
          class="pointer"
          title="Previous"
        />
      </div>

      <ul
        id="tabs"
        class="d-flex overflow-x-scroll list-unstyled col-7 align-items-center justify-content-center"
      >
        <template v-for="tab in tabs" :key="tab">
          <template v-if="currentTab === tab">
            <li key="{tab}" class="mx-0 list-unstyled btn outline">
              <div
                class="whitespace-no-wrap bg-gray-700 text-white rounded-md text-sm py-2 px-6 font-medium btn-sm"
                @click="updateTabName()"
              >
                <template v-if="tab === 'ProjectDetailTab'">
                  Project Info
                </template>
                <template v-else-if="tab === 'EducationTab'">
                  Education Info
                </template>
                <template v-else-if="tab === 'TechnicalSkills'">
                  Technical Skills
                </template>
                <template v-else>
                  {{ tab || "Tab" }}
                </template>
              </div>
            </li>
          </template>
        </template>
      </ul>

      <div
        class="d-flex cursor-pointer select-none text-gray-600 hover:text-gray-800 col-1 pl-lg-4 pl-md-2 arrow-right"
        @click="
          () => {
            scrollBy(100);
            updateTabName();
          }
        "
      >
        <font-awesome-icon icon="chevron-right" class="pointer" title="Next" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue } from "vue-class-component";
import { Emit } from "vue-property-decorator";
export default class TabBar extends Vue {
  tabs = [
    "Profile",
    "Summary",
    "TechnicalSkills",
    "EducationTab",
    "Achievements",
    "Certifications",
    "ProjectDetailTab",
  ];
  currentTab = this.tabs[0];

  @Emit("renderTabs")
  updateTabName(): string {
    return this.currentTab;
  }

  setCurrentTab(tabName: string): void {
    this.currentTab = tabName;
  }

  scrollBy(x: number): void {
    const index = this.tabs.findIndex((tab) => tab === this.currentTab);
    if (x < 0 && index > 0) {
      this.setCurrentTab(this.tabs[index - 1]);
    }

    if (x > 0 && index < this.tabs.length - 1) {
      this.setCurrentTab(this.tabs[index + 1]);
    }
  }
}
</script>
<style scoped>
.overflow-x-scroll {
  overflow-x: scroll;
}
.whitespace-no-wrap {
  white-space: nowrap;
}
.bg-gray-700 {
  background-color: #4a5568;
}
.font-medium {
  font-weight: 500;
}
.rounded-md {
  border-radius: 0.375rem;
}
#tabs {
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hover-bg-gray-200:hover {
  background-color: #edf2f7;
}
#tabs::-webkit-scrollbar {
  display: none;
}
.outline {
  outline: none !important;
  border: none !important;
}
.cursor-pointer {
  cursor: pointer;
}
@media all and (max-width: 1230px) and (min-width: 1000px) {
  .arrow-left {
    padding-right: 1rem !important;
  }
  .arrow-right {
    padding-left: 1rem !important;
  }
}
</style>