<template>
  <div>
    <div class="container">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Certification Name</th>
              <th scope="col">Certified From</th>
              <th scope="col">Year of Completion</th>
              <th>
                <h3 :style="getIconStyle">
                  <font-awesome-icon
                    icon="plus-circle"
                    class="pointer"
                    @click="editClick(true, 'Add')"
                    title="Add"
                  />
                </h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in certificateDetails" :key="index">
              <th scope="row">{{ item.certificationName }}</th>
              <td>{{ item.institutionName }}</td>
              <td>{{ item.completionYear }}</td>
              <td>
                <font-awesome-icon
                  icon="edit"
                  @mousedown="setIndex = parseInt(index)"
                  @click="editClick(true, 'Update', item)"
                  title="Edit"
                  class="mr-2 pointer text-primary"
                />
                <font-awesome-icon
                  icon="trash-alt"
                  class="text-danger pointer"
                  @click="deleteCertificationDetails(index, item)"
                  title="Delete"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <h5 v-if="certificateDetails.length === 0" class="emptyMessage">
          No Certifications Added
        </h5>
        <div class="borderbottom text-start mt-5">
          <div class="fw-bolder d-inline-block fs-5 ml-5">Achievement</div>
          <div class="float-right h3 mr-3 pr-1">
            <font-awesome-icon
              icon="plus-circle"
              class="pointer"
              title="Add Achievements"
              @mousedown="setAchievementIndex = -1"
              @click="openAchievementPopup(true, 'Add', emptyAchievement)"
            />
          </div>
        </div>
        <div
          class="container"
          v-for="(item, index) in achievements"
          :key="index"
        >
          <div class="container">
            <div class="card shadow mt-3">
              <div class="card-body text-start">
                <div class="d-flex">
                  <div class="w-100">{{ item.achievement_details }}</div>
                  <div class="d-flex flex-column ml-2">
                    <font-awesome-icon
                      icon="edit"
                      @mousedown="setAchievementIndex = index"
                      @click.stop="openAchievementPopup(true, 'Update', item)"
                      title="Edit"
                      class="mr-2 mb-2 pointer text-primary"
                    />
                    <font-awesome-icon
                      icon="trash-alt"
                      class="text-danger mb-2 pointer"
                      @click.stop="deleteAchievement(item)"
                      title="Delete"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h5 v-if="achievements.length === 0" class="mt-2 emptyMessage">
        No Achievements Added
      </h5>
    </div>
    <CertificateEdit
      :style="getModalStyle"
      :btnValue="btnValue"
      :objectData="tableData"
      @emitCertificationsDetails="handleupdate"
      @closeModal="
        (value) => {
          editClick(value);
        }
      "
    />
    <AchievementsPopup
      :style="getAchievementModalStyle"
      @closeAchievementModal="openAchievementPopup(false)"
      :btnValue="btnValue"
      :achievementDetails="achievementEditDetails"
      @updateAchievement="handleAchievementSubmit"
    />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CertificateEdit from "@/components/CertificateEdit.vue";
import { HTTP } from "@/http/http-common";
import { EventBus } from "@/event-bus";
import { State, Action } from "vuex-class";
import AchievementsPopup from "@/components/AchievementsPopup.vue";
@Options({
  components: {
    CertificateEdit,
    AchievementsPopup,
  },
})
export default class Achievements extends Vue {
  @State((state) => state.employeeid) employeeid;
  @State((state) => state.loading) loading;
  @Action("updateLoading") updateLoading;

  certificateDetails: Array<{
    certification_id: number | null;
    employeeid: string;
    certificationName: string;
    institutionName: string;
    completionYear: string;
  }> = [];
  tableData = {};
  achievements: Array<{
    employee_id: string;
    achievement_id: number | null;
    achievement_details: string;
  }> = [];
  btnValue = "";
  modalOpen = false;
  editabletextarea = -1;
  setIndex = -1;

  achievementModal = false;
  achievementEditDetails = {};
  emptyAchievement = {
    employee_id: "",
    achievement_id: null,
    achievement_details: "",
  };
  setAchievementIndex = -1;

  editClick(
    value: boolean,
    btnValue: string,
    item: {
      employee_id: string;
      achievement_id: string;
      achievement_details: string;
    }
  ): void {
    this.modalOpen = value;
    this.btnValue = btnValue;
    if (value) {
      this.tableData = { ...item };
    } else {
      this.tableData = {};
    }
  }

  get getModalStyle(): Partial<CSSStyleDeclaration> {
    return {
      display: this.modalOpen ? "block" : "none",
    };
  }
  get getIconStyle(): Partial<CSSStyleDeclaration> {
    return {
      marginBottom: "-0.5rem",
    };
  }

  //add or update certification
  handleupdate(objectData: {
    certification_id: number;
    employeeid: string;
    certificationName: string;
    institutionName: string;
    completionYear: string;
  }): void {
    if (this.setIndex === -1) {
      this.updateLoading({
        value: true,
      });
      HTTP.post(
        `addcertificationdetailsbyid?employeeid=${this.employeeid}`,
        objectData
      )
        .then((response) => {
          this.updateLoading({
            value: false,
          });
          if (!response.data.error) {
            this.certificateDetails.push(objectData);
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Added Successfully",
            });
          }
        })
        .catch((error) => {
          console.log(error);
          this.updateLoading({
            value: false,
          });
        });
    } else {
      this.setIndex = -1;
      this.updateLoading({
        value: true,
      });
      HTTP.post(
        `updatecertificationdetailsbyid?employeeid=${this.employeeid}`,
        objectData
      )
        .then((response) => {
          this.updateLoading({
            value: false,
          });
          if (!response.data.error) {
            this.getCertificationDetails();
            this.setIndex = -1;
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Updated Successfully",
            });
          }
        })
        .catch((error) => {
          console.log(error);
          this.updateLoading({
            value: false,
          });
        });
    }
  }
  //delete date
  deleteCertificationDetails(
    index: number,
    item: {
      certification_id: number;
      employee_id: string;
      certification_name: string;
      institution_name: string;
      completion_year: string;
    }
  ): void {
    this.certificateDetails = this.certificateDetails.filter(
      (item, ind) => ind !== index
    );
    const config = { data: item };
    this.updateLoading({
      value: true,
    });
    HTTP.delete(
      `deletecertificatedetailsbyid?employeeid=${this.employeeid}`,
      config
    )
      .then((response) => {
        this.updateLoading({
          value: false,
        });
        if (!response.data.error) {
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Deleted Successfully",
          });
        }
      })
      .catch((error) => {
        console.log(error);
        this.updateLoading({
          value: false,
        });
      });
  }
  //get certification data
  async getCertificationDetails(): Promise<void> {
    try {
      this.updateLoading({
        value: true,
      });
      const res = await HTTP.get(
        `getcertificatedetailsbyid?employeeid=${this.employeeid}`
      );
      this.updateLoading({
        value: false,
      });
      const data = await res.data;
      this.certificateDetails = data.data;
    } catch (error) {
      console.log(error);
      this.updateLoading({
        value: false,
      });
    }
  }
  //get achievements data
  async getAchievementsDetails(): Promise<void> {
    try {
      this.updateLoading({
        value: true,
      });
      const res = await HTTP.get(
        `getacheivementsdetailsbyid?employeeid=${this.employeeid}`
      );
      this.updateLoading({
        value: false,
      });
      const data = await res.data;
      this.achievements = data.data;
    } catch (error) {
      console.log(error);
      this.updateLoading({
        value: false,
      });
    }
  }

  mounted(): void {
    this.getCertificationDetails();
    this.getAchievementsDetails();
  }

  deleteAchievement(item: {
    employee_id: string;
    achievement_id: number;
    achievement_details: string;
  }): void {
    const config = { data: item };
    try {
      this.updateLoading({
        value: true,
      });
      HTTP.delete(
        `deleteachievementdetailsbyid?employeeid=${this.employeeid}`,
        config
      ).then((response) => {
        this.updateLoading({
          value: false,
        });
        this.getAchievementsDetails();
        if (!response.data.error) {
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Deleted Successfully",
          });
        }
      });
    } catch (error) {
      console.log(error);
      this.updateLoading({
        value: true,
      });
    }
  }

  openAchievementPopup(
    value: boolean,
    btnValue: string,
    item: {
      employee_id: string;
      achievement_id: number | null;
      achievement_details: string;
    }
  ): void {
    this.achievementModal = value;
    this.btnValue = btnValue;
    if (value) {
      this.achievementEditDetails = { ...item };
    } else {
      this.achievementEditDetails = {};
    }
  }

  get getAchievementModalStyle(): Partial<CSSStyleDeclaration> {
    return {
      display: this.achievementModal ? "block" : "none",
    };
  }

  handleAchievementSubmit(item: {
    employee_id: string;
    achievement_id: number | null;
    achievement_details: string;
  }): void {
    if (this.setAchievementIndex === -1) {
      this.updateLoading({
        value: true,
      });
      HTTP.post(`addacheivementdetailsbyid?employeeid=${this.employeeid}`, item)
        .then((response) => {
          this.updateLoading({
            value: false,
          });
          if (!response.data.error) {
            this.getAchievementsDetails();
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Added Successfully",
            });
          }
        })
        .catch((error) => {
          console.log(error);
          this.updateLoading({
            value: false,
          });
        });
    } else {
      this.setAchievementIndex = -1;
      this.updateLoading({
        value: true,
      });
      HTTP.post(
        `updateachievementdetailsbyid?employeeid=${this.employeeid}`,
        item
      )
        .then((response) => {
          this.updateLoading({
            value: false,
          });
          if (!response.data.error) {
            this.getAchievementsDetails();
            this.setAchievementIndex = -1;
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Updated Successfully",
            });
          }
        })
        .catch((error) => {
          console.log(error);
          this.updateLoading({
            value: false,
          });
        });
    }
  }
}
</script>

<style scoped>
textarea {
  resize: none;
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 20px;
  width: 100%;
}
textarea:focus {
  outline: none;
}
textarea:read-only {
  background-color: white !important;
}
.errormsg {
  font-size: 10px;
  color: red;
}
.pointer {
  cursor: pointer;
}
.error {
  padding: 0px 15px;
}
.emptyMessage {
  color: #e4dfdf;
}
.borderbottom {
  border-bottom: 2px solid black;
}
.fs-5 {
  font-size: 1.15rem !important;
  padding-bottom: 10px;
}
</style>
<style scoped>
.svg:not(:root).svg-inline--fa {
  color: balck !important;
}
</style>