<template>
  <div class="modal">
    <div class="modal-dialog-centered modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title titleStyle" id="exampleModalLabel">
            Achievements
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            title="Close"
            @click="closeModal"
          >
            <span aria-hidden="true" :style="getIconStyle">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea
            type="text"
            class="form-control"
            placeholder="Achievements"
            :rows="3"
            v-model="achievementDetails.achievement_details"
            @change="validateAchievement()"
          />
          <span v-if="errmsg" class="errorMsg">{{errmsg}}</span>
        </div>
        <div class="modal-footer border-0">
          <button
            type="button"
            class="btn btn-primary updateButtonStyle"
            :title="btnValue"
            @click="handleSubmit"
          >
            {{ btnValue }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { Emit } from "vue-property-decorator";
import { State } from "vuex-class";

@Options({
  components: {},
  props: {
    btnValue: String,
    achievementDetails: Object,
  },
})
export default class AchievementsPopup extends Vue {
  achievementDetails!: {
    employee_id: string;
    achievement_id: number | null;
    achievement_details: string;
  };
  @State((state) => state.employeeid) employeeid;
  errmsg = "";

  get getIconStyle(): Partial<CSSStyleDeclaration> {
    return { color: "rgb(0, 123, 255)", fontWeight: "lighter" };
  }

  @Emit("closeAchievementModal")
  closeModal(): boolean {
    return false;
  }

  validateAchievement(): void {
    if (this.achievementDetails.achievement_details !== "") {
      this.errmsg = "";
    } else {
      this.errmsg = "Achievement cannot be empty";
    }
  }

  handleSubmit(): void {
    this.achievementDetails.employee_id = this.employeeid;
    this.validateAchievement();
    if (this.errmsg === "") {
      this.closeModal();
      this.emitAchievementObject();
    }
  }

  @Emit("updateAchievement")
  emitAchievementObject(): {
    employee_id: string;
    achievement_id: number | null;
    achievement_details: string;
  } {
    return this.achievementDetails;
  }
}
</script>
<style scoped>
.modal-body {
  max-height: 400px;
  overflow: auto;
}
.titleStyle {
  font-weight: bold;
  color: rgb(0, 123, 255);
  position: relative;
  left: 146px;
  font-size: 30px;
}
.labelStyle {
  float: left;
  margin-bottom: 0px;
  font-size: 12px;
}
.modal {
  background-color: rgb(0, 37, 77, 0.6)  !important;
}
.errorMsg{
  font-size: 12px;
  color: red;
  display: flex;
}
</style>