<template>
  <div
    class="modal"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog-centered modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title titleStyle" id="exampleModalLabel">
            Certification
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="closeModal()"
            title="Close"
          >
            <span aria-hidden="true" :style="getIconStyle">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="certificate">
              <div>
                <label for="">Certification Name</label>
                <div>
                  <input
                    type="text"
                    class="form-control eidClass"
                    placeholder="Certification Name"
                    v-model="objectData.certificationName"
                    :style="getNameStyle"
                    @change="validateCertification"
                  />
                  <span
                    class="errormsg"
                    v-if="errmsg.certification_name !== ''"
                    >{{ errmsg.certification_name }}</span
                  >
                </div>
                <label for="">Certificate From</label>
                <input
                  type="text"
                  class="form-control eidClass"
                  placeholder="Certificate From"
                  v-model="objectData.institutionName"
                  :style="getFromStyle"
                  @change="validateInstitute"
                />
                <span class="errormsg" v-if="errmsg.institution_name !== ''">{{
                  errmsg.institution_name
                }}</span>
                <div class="grid-div">
                  <label class="yearLabel">Year of Completion</label>
                  <select
                    class="form-select empty"
                    aria-label="Default select example"
                    :style="getYearStyle"
                    v-model="objectData.completionYear"
                    @change="validateCompletion"
                  >
                    <option disabled>Year</option>
                    <option v-for="ele in year" :key="ele" :value="ele">
                      {{ ele }}
                    </option>
                  </select>
                  <span class="errormsg" v-if="errmsg.completion_year !== ''">{{
                    errmsg.completion_year
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button
            type="button"
            class="btn btn-primary updateButtonStyle"
            @click.prevent="handleupdate"
            :title="btnValue"
          >
            {{ btnValue }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { Emit } from "vue-property-decorator";

@Options({
  components: {},
  props: {
    objectData: Object,
    btnValue: String,
  },
})
export default class CertificateEdit extends Vue {
  objectData!: {
      certification_id: number,
      employee_id: string,
      certificationName: string,
      institutionName: string,
      completionYear: string,
    };
  errmsg = {
    certification_name: "",
    institution_name: "",
    completion_year: "",
  };
  initYear = 1940;
  date = new Date();
  year = [1940];
  mounted(): void {
    for (let i = 1941; i <= this.date.getFullYear(); i++) {
      this.year.push(i);
    }
  }
  get getIconStyle(): Partial<CSSStyleDeclaration> {
    return { color: "rgb(0, 123, 255)", fontWeight: "lighter" };
  }
  get getNameStyle(): Partial<CSSStyleDeclaration> {
    return {
      marginBottom: this.errmsg.certification_name !== "" ? "0px" : "15px",
    };
  }
  get getFromStyle(): Partial<CSSStyleDeclaration> {
    return {
      marginBottom: this.errmsg.institution_name !== "" ? "0px" : "15px",
    };
  }
  get getYearStyle(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      width: "100%",
      color: "#565555",
    };
  }
  @Emit("closeModal")
  closeModal(): boolean {
    this.errmsg = {
      certification_name: "",
      institution_name: "",
      completion_year: "",
    };
    return false;
  }
  errflag = true;
  validateCertification(): void {
    if (
      this.objectData.certificationName === "" ||
      this.objectData.certificationName === undefined
    ) {
      this.errmsg.certification_name = "Certification name cannot be empty";
      this.errflag = false;
    } else {
      this.errmsg.certification_name = "";
      this.errflag = true;
    }
  }
  validateInstitute(): void {
    if (
      this.objectData.institutionName === "" ||
      this.objectData.institutionName === undefined
    ) {
      this.errmsg.institution_name = "Institution name cannot be empty";
      this.errflag = false;
    } else {
      this.errmsg.institution_name = "";
      this.errflag = true;
    }
  }
  validateCompletion(): void {
    if (
      this.objectData.completionYear === "" ||
      this.objectData.completionYear === undefined
    ) {
      this.errmsg.completion_year = "Select completion year";
      this.errflag = false;
    } else {
      this.errmsg.completion_year = "";
      this.errflag = true;
    }
  }
  handleupdate(): void {
    this.validateCertification();
    this.validateInstitute();
    this.validateCompletion();
    if (this.errflag) {
      this.closeModal();
      this.$emit("emitCertificationsDetails", this.objectData);
    }
  }
}
</script>
<style scoped>
.modal-body {
  max-height: 400px;
  overflow: auto;
}
.titleStyle {
  font-weight: bold;
  color: rgb(0, 123, 255);
  position: relative;
  left: 146px;
  font-size: 30px;
}
.labelStyle {
  float: left;
  margin-bottom: 0px;
  font-size: 12px;
}
::placeholder {
  color: rgb(187, 186, 186);
}
input {
  border: 1px solid gray !important;
  border-radius: 8px !important;
}
label {
  float: left;
  font-size: 12px;
  margin-bottom: 0px;
}
option:disabled {
  display: none;
}
.errormsg {
  font-size: 10px;
  color: red;
  display: flex;
}
select {
  border: "1px solid gray";
  border-radius: "8px";
  width: "100%";
  color: "#565555";
}
.modal-content {
  border-radius: 31px;
}
.modal-dialog {
  max-width: 484px;
}
.modal {
  background-color: rgb(0, 37, 77, 0.6)  !important;
}
.grid-div {
  display: grid;
  grid-template-rows: 20px 40px;
}
.yearLabel {
  font-size: 12px;
  text-align: left;
}
</style>