<template>
  <div
    class="modal outerModal"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog-centered modal-dialog documentClass"
      role="document"
    >
      <div class="modal-content contentClass">
        <div class="modal-header headerClass">
          <h5 class="modal-title titleStyle" id="exampleModalLabel">
            Educational
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="closeModalOnCancel()"
            title="close"
          >
            <span aria-hidden="true" class="spanButtonClass">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="experience">
              <form class="container">
                <div>
                  <div id="qualification" class="education">
                    <label class="labelStyle">Select Your Qualification</label>
                    <select
                      class="form-select empty"
                      aria-label="Default select example"
                      :style="selectQualificationStyleObj"
                      @change="validateQualification"
                      @mousedown="filterTheQualificationValues()"
                    >
                      <option
                        v-if="educationFrame.qualification !== ''"
                        :value="educationFrame.qualification"
                        :selected="
                          educationFrame.qualification !== '' ? true : false
                        "
                        disabled
                      >
                        {{ educationFrame.qualification }}
                      </option>
                      <option
                        v-else-if="educationFrame.qualification === ''"
                        value=""
                        selected
                        disabled
                      >
                        Select Your Qualification
                      </option>
                      <option
                        v-for="arrayData of qualificationData"
                        :key="arrayData.name"
                        :value="arrayData.value"
                      >
                        {{ arrayData.name }}
                      </option>
                    </select>
                    <span v-if="errMsg.qualification" class="errormsg d-flex">{{
                      errMsg.qualification
                    }}</span>
                  </div>
                  <div class="gridClass">
                  <div
                    v-if="
                      educationFrame.qualification !== '' &&
                      (educationFrame.qualification === 'UnderGraduate' ||
                        educationFrame.qualification === 'PostGraduate')
                    "
                    id="course"
                    class="education"
                  >
                    <label class="labelStyle">Course</label>
                    <input
                      type="text"
                      class="form-control iNameClass"
                      placeholder="Course"
                      @change="validateCourse"
                      :style="selectCourseStyleObj"
                      :value="educationFrame.course"
                    />
                    <span v-if="errMsg.course" class="errormsg d-flex">{{
                      errMsg.course
                    }}</span>
                  </div>
                  <div
                    v-if="
                      educationFrame.qualification !== '' &&
                      (educationFrame.qualification === 'UnderGraduate' ||
                        educationFrame.qualification === 'PostGraduate')
                    "
                    id="specialization"
                    class="education"
                  >
                    <label class="labelStyle">Specialization</label>
                    <input
                      type="text"
                      class="form-control iNameClass"
                      placeholder="Specialization"
                      @change="validateSpecialization"
                      :style="selectSpecializationStyleObj"
                      :value="educationFrame.specialization"
                    />
                    <span
                      v-if="errMsg.specialization"
                      class="errormsg d-flex"
                      >{{ errMsg.specialization }}</span
                    >
                  </div>
                  </div>
                  <div class="gridClass">
                  <div
                    v-if="educationFrame.qualification !== ''"
                    id="insitution"
                    class="education"
                  >
                    <label class="labelStyle">Institution Name</label>
                    <input
                      type="text"
                      class="form-control iNameClass"
                      placeholder="Institution Name"
                      @change="validateinsitution"
                      :value="educationFrame.insitution"
                    />
                    <span v-if="errMsg.insitution" class="errormsg d-flex">{{
                      errMsg.insitution
                    }}</span>
                  </div>
                  <div
                    v-if="educationFrame.qualification !== ''"
                    id="university"
                    class="education"
                  >
                    <label class="labelStyle">University Name</label>
                    <input
                      type="text"
                      class="form-control iNameClass"
                      placeholder="University Name"
                      @change="validateuniversity"
                      :value="educationFrame.university"
                    />
                    <span v-if="errMsg.university" class="errormsg d-flex">{{
                      errMsg.university
                    }}</span>
                  </div>
                  </div>
                  <div class="gridClass">
                  <div
                    v-if="educationFrame.qualification !== ''"
                    id="passoutyear"
                    class="education"
                  >
                    <label class="labelStyle">Passing Year</label>
                    <select
                      class="form-select empty"
                      aria-label="Default select example"
                      :style="pYearStyleObj"
                      @change="validatePassingYear"
                    >
                      <option
                        v-if="educationFrame.passoutyear !== ''"
                        :value="educationFrame.passoutyear"
                        :selected="
                          educationFrame.passoutyear !== '' ? true : false
                        "
                        disabled
                      >
                        {{ educationFrame.passoutyear }}
                      </option>
                      <option
                        v-else-if="educationFrame.passoutyear === ''"
                        value=""
                        selected
                        disabled
                      >
                        Passing Year
                      </option>
                      <option
                        :key="arrayData.name"
                        v-for="arrayData of passingYearData"
                        :value="arrayData.value"
                      >
                        {{ arrayData.name }}
                      </option>
                    </select>
                    <span v-if="errMsg.passoutyear" class="errormsg d-flex">{{
                      errMsg.passoutyear
                    }}</span>
                  </div>
                  <div
                    v-if="educationFrame.qualification !== ''"
                    id="percentage"
                    class="education"
                  >
                    <label class="labelStyle">Percentage</label>
                    <input
                      type="number"
                      class="form-control percentClass"
                      placeholder="Percentage"
                      @change="validatePercentage"
                      :value="educationFrame.percentage"
                    />
                    <span v-if="errMsg.percentage" class="errormsg d-flex">{{
                      errMsg.percentage
                    }}</span>
                  </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer footerClass">
          <button
            type="button"
            class="btn btn-primary updateButtonStyle"
            @click.prevent="handleSubmit"
            :title="buttonMsg === 'Add' ? 'Add' : 'Update'"
          >
            {{ buttonMsg }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Emit, Watch } from "vue-property-decorator";
import { Options, Vue } from "vue-class-component";
import { qualification } from "@/models/Qualification";
import { courses } from "@/models/Courses";
import { specialization } from "@/models/Specialization";
import { passingYear } from "@/models/PassingYear";
import { EventBus } from "@/event-bus";
import { validators } from "@/validators/validators";
interface IEducationFrame {
  educationalid: string;
  qualification: string;
  course: string;
  specialization: string;
  insitution: string;
  university: string;
  passoutyear: string;
  percentage: string;
}

@Options({
  components: {},
})
export default class EducationalEdit extends Vue {
  buttonMsg = "Update";
  @Emit("closeModal")
  closeModal(): boolean {
    this.errMsg.qualification = "";
    this.errMsg.course = "";
    this.errMsg.specialization = "";
    this.errMsg.insitution = "";
    this.errMsg.university = "";
    this.errMsg.passoutyear = "";
    this.errMsg.percentage = "";
    return false;
  }

  closeModalOnCancel(): void {
   this.educationFrame.educationalid = "";
   this.educationFrame.qualification= "";
   this.educationFrame.course= "";
   this.educationFrame.specialization= "";
   this.educationFrame.insitution= "";
   this.educationFrame.university= "";
   this.educationFrame.passoutyear= "";
   this.educationFrame.percentage= "";
   this.closeModal()
  }

  educationFrame = {
    educationalid: "",
    qualification: "",
    course: "",
    specialization: "",
    insitution: "",
    university: "",
    passoutyear: "",
    percentage: "",
  };
  educationObj: Array<IEducationFrame> = [];
  errMsg = {
    qualification: "",
    course: "",
    specialization: "",
    insitution: "",
    university: "",
    passoutyear: "",
    percentage: "",
  };
  formValidate = {
    qualification: false,
    course: false,
    specialization: false,
    insitution: false,
    university: false,
    passoutyear: false,
    percentage: false,
  };
  selectedQualification = "";
  qualificationData: Array<{ name: string; value: string }> = qualification
  coursesData: Array<{ name: string; value: string }> = courses;
  specializationData: Array<{ name: string; value: string }> = specialization;
  passingYearData: Array<{ name: string; value: string }> = passingYear;

  filterTheQualificationValues(): void {
    this.qualificationData = [...qualification]
    for (let index = 0; index < this.educationObj.length; index++) {
      const element = this.educationObj[index];
    if (element.qualification === '10th') {
      for (let j = 0; j < this.qualificationData.length; j++) {
        const ele = this.qualificationData[j];
        if(ele.value === '10th') {
          this.qualificationData.splice(j,1)
        }
      }
    } if (element.qualification === '12th') {
      for (let j = 0; j < this.qualificationData.length; j++) {
        const ele = this.qualificationData[j];
        if(ele.value === '12th') {
          this.qualificationData.splice(j,1)
        }
      }
    }
    }
  }

  @Watch('educationObj')
  educationalWatch(): void {
    this.filterTheQualificationValues()
  }

  get qualificationStyle(): Partial<CSSStyleDeclaration> {
    return {
      width: "500px",
      height: "40px",
    };
  }

  get selectQualificationStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      color:
        this.educationFrame.qualification !== ""
          ? "#496388"
          : "rgb(187, 186, 186)",
    };
  }

  get selectCourseStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      color:
        this.educationFrame.course !== "" ? "#496388" : "rgb(187, 186, 186)",
    };
  }

  get selectSpecializationStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      color:
        this.educationFrame.specialization !== ""
          ? "#496388"
          : "rgb(187, 186, 186)",
    };
  }

  get pYearStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      color:
        this.educationFrame.passoutyear !== ""
          ? "#496388"
          : "rgb(187, 186, 186)",
    };
  }

  validateinsitution(event: Event): void {
    const value = (event.target as HTMLInputElement).value;
    if (validators.institutionalUniversityValidator(value)) {
      this.errMsg.insitution = "";
      this.educationFrame.insitution = value;
      this.formValidate.insitution = true;
    } else {
      this.errMsg.insitution =
        "Institution name should not contain any special characters and numbers";
      this.educationFrame.insitution = value;
      this.formValidate.insitution = false;
    }
    if (value === "") {
      this.errMsg.insitution = "";
      this.educationFrame.insitution = value;
      this.formValidate.insitution = false;
    }
  }

  validateuniversity(event: Event): void {
    const value = (event.target as HTMLInputElement).value;
    if (validators.institutionalUniversityValidator(value)) {
      this.errMsg.university = "";
      this.educationFrame.university = value;
      this.formValidate.university = true;
    } else {
      this.errMsg.university =
        "University name should not contain any special characters and numbers";
      this.educationFrame.university = value;
      this.formValidate.university = false;
    }
    if (value === "") {
      this.errMsg.university = "";
      this.educationFrame.university = value;
      this.formValidate.university = false;
    }
  }

  validateQualification(event: Event): void {
    this.selectColor();
    const value = (event.target as HTMLInputElement).value;
    if (value !== "") {
      this.errMsg.qualification = "";
      this.educationFrame.qualification = value;
      this.educationFrame.course = "";
      (this.educationFrame.specialization = ""),
        (this.educationFrame.insitution = ""),
        (this.educationFrame.university = ""),
        (this.educationFrame.passoutyear = ""),
        (this.educationFrame.percentage = ""),
        (this.formValidate.qualification = true);
    } else {
      this.formValidate.qualification = false;
    }
  }

  validateCourse(event: Event): void {
    this.selectColor();
    const value = (event.target as HTMLInputElement).value;
    if (value !== "") {
      this.errMsg.course = "";
      this.educationFrame.course = value;
      this.formValidate.course = true;
    } else {
      this.formValidate.course = false;
    }
  }

  validateSpecialization(event: Event): void {
    this.selectColor();
    const value = (event.target as HTMLInputElement).value;
    if (value !== "") {
      this.errMsg.specialization = "";
      this.formValidate.specialization = true;
      this.educationFrame.specialization = value;
    } else {
      this.formValidate.specialization = false;
    }
  }

  validatePassingYear(event: Event): void {
    this.selectColor();
    const value = (event.target as HTMLInputElement).value;
    if (value !== "") {
      this.errMsg.passoutyear = "";
      this.educationFrame.passoutyear = value;
      this.formValidate.passoutyear = true;
    } else {
      this.formValidate.passoutyear = false;
    }
  }

  validatePercentage(event: Event): void {
    const value = (event.target as HTMLInputElement).value;
    if (validators.percentageValidator(value)) {
      this.errMsg.percentage = "";
      this.educationFrame.percentage = value;
      this.formValidate.percentage = true;
    } else {
      this.errMsg.percentage = "Invalid Percentage";
      this.educationFrame.percentage = value;
      this.formValidate.percentage = false;
    }
    if (value === "") {
      this.errMsg.percentage = "";
      this.educationFrame.percentage = value;
      this.formValidate.percentage = false;
    }
  }

  selectColor(): void {
    const a = document.querySelectorAll("select");
    for (let i = 0; i < a.length; i++) {
      const element = a[i] as HTMLSelectElement;
      if (element.value === "") {
        element.style.color = "lightgray";
      } else {
        element.style.color = "#496388";
      }
    }
  }

  handleSubmit(): void {
    let emptyFlag = true;
    if (this.educationFrame.qualification === "") {
      this.errMsg.qualification = "Education field is required*";
      emptyFlag = false;
    }
    if (
      this.educationFrame.qualification === "UnderGraduate" ||
      this.educationFrame.qualification === "PostGraduate"
    ) {
      if (this.educationFrame.course === "") {
        this.errMsg.course = "Course field is required*";
        emptyFlag = false;
      }
    }
    if (
      this.educationFrame.qualification === "UnderGraduate" ||
      this.educationFrame.qualification === "PostGraduate"
    ) {
      if (this.educationFrame.specialization === "") {
        this.errMsg.specialization = "Specialization field is required*";
        emptyFlag = false;
      }
    }
    if (this.educationFrame.insitution === "") {
      this.errMsg.insitution = "Insitution field is required*";
      emptyFlag = false;
    }
    if (this.educationFrame.university === "") {
      this.errMsg.university = "University field is required*";
      emptyFlag = false;
    }
    if (this.educationFrame.passoutyear === "") {
      this.errMsg.passoutyear = "Passing Year is required*";
      emptyFlag = false;
    }
    if (this.educationFrame.percentage === "") {
      this.errMsg.percentage = "Percentage is required*";
      emptyFlag = false;
    }
    if (
      emptyFlag &&
      this.errMsg.percentage === "" &&
      this.errMsg.insitution === ""
    ) {
      this.emitEducationalData(this.educationFrame);
      this.closeModal();
    }
  }
  @Emit("emitEducationalData")
  emitEducationalData(val: IEducationFrame): IEducationFrame {
    return val;
  }

  mounted(): void {
    EventBus.on("completeEducationalDetails", (educationalData) => {
      this.educationObj = educationalData
    })
    EventBus.on("educationalData", (data) => {
      this.educationFrame = { ...data };
      if (this.educationFrame.qualification === "") {
        this.buttonMsg = "Add";
      } else {
        this.buttonMsg = "Update";
      }
    });
  }
}
</script>

<style scoped>
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  width: 0px;
  height: 0px;
  position: relative;
  top: 20px;
  left: -16px;
}
.profile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.inputClass {
  border: 1px solid lightgray;
  border-radius: 6px;
}
.titleStyle {
  font-weight: bold;
  color: rgb(0, 123, 255);
  position: relative;
  left: 146px;
  font-size: 30px;
}
.updateButtonStyle {
  border-radius: 30px;
  width: 100px;
}
.education {
  margin-left: 20px;
  height: 80px;
  margin-right: 20px;
}
.btn-style {
  background-color: rgb(80, 200, 120);
  color: white;
  float: right;
}
select option {
  color: black;
}
select option[disabled]:first-child {
  color: #80808082;
}
/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}
::placeholder {
  color: rgb(187, 186, 186);
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  color: #496388 !important;
}
.addbtn {
  text-align: right;
  margin-right: 40px;
  margin-top: 23px;
}
.btntext {
  border: 1px solid rgb(197, 193, 193);
  border-radius: 4px;
  padding: 4px;
}
.active-btn {
  background-color: rgb(80, 200, 120);
}
.errormsg {
  font-size: 12px;
  color: red;
}
.labelStyle {
  float: left;
  margin-bottom: 0px;
  font-size: 12px;
}
.modal-body {
  max-height: 400px;
  overflow: auto;
}

.outerModal {
  background: rgb(0, 37, 77, 0.6);
}

.documentClass {
  max-width: 484px;
}

.contentClass {
  border-radius: 31px;
}

.headerClass {
  border: none;
}

.spanButtonClass {
  color: rgb(0, 123, 255);
  font-weight: lighter;
}

.footerClass {
  border: none;
}

.percentClass {
  border: 1px solid gray;
  border-radius: 8px;
  color: rgb(187, 186, 186);
}

.iNameClass {
  border: 1px solid gray;
  border-radius: 8px;
  color: rgb(187, 186, 186);
}

.gridClass {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
</style>