<template>
  <div>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Education</th>
            <th scope="col">Course</th>
            <th scope="col">Specialization</th>
            <th scope="col">Institution</th>
            <th scope="col">University</th>
            <th scope="col">Passing Year</th>
            <th scope="col">Percentage</th>
            <th>
              <h3 :style="getIconStyle">
                <font-awesome-icon
                  icon="plus-circle"
                  class="iconStyle"
                  @click="editClick(true, eductaionFrame)"
                  title="Add"
                />
              </h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="singleObj in educationalData"
            :key="singleObj.educationalid"
          >
            <th scope="row">{{ singleObj.qualification }}</th>
            <td>{{ singleObj.course }}</td>
            <td>{{ singleObj.specialization }}</td>
            <td>{{ singleObj.insitution }}</td>
            <td>{{ singleObj.university }}</td>
            <td>{{ singleObj.passoutyear }}</td>
            <td>{{ singleObj.percentage }}</td>
            <td>
              <font-awesome-icon
                icon="edit"
                title="Edit"
                @mousedown="setIndex = parseInt(index)"
                @click="editClick(true, singleObj)"
                class="mr-2 mb-2 pointer text-primary editIconClas"
              />
              <font-awesome-icon
                icon="trash-alt"
                class="text-danger mb-2 pointer deleteIconClass"
                @click="deleteClick(singleObj)"
                title="Delete"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <EducationalEdit
      @emitEducationalData="updateEducationalData"
      :style="getModalStyle"
      @closeModal="
        (value) => {
          modalOpen = value;
        }
      "
    />
    <h5 v-if="educationalData.length === 0" class="emptyMessage">
      No Educational Details Added
    </h5>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import SubNavBar from "@/components/SubNavBar.vue";
import { qualification } from "@/models/Qualification";
import EducationalEdit from "./EducationalEdit.vue";
import { EventBus } from "@/event-bus";
import { HTTP } from "../http/http-common";
import { State, Action } from "vuex-class";
interface IEducationalFrame {
  educationalid: string;
  qualification: string;
  course: string;
  specialization: string;
  insitution: string;
  university: string;
  passoutyear: string;
  percentage: string;
}
@Options({
  components: {
    SubNavBar,
    EducationalEdit,
  },
})
export default class Educational extends Vue {
  @State((state) => state.employeeid) employeeid;
  @State((state) => state.loading) loading;
  @Action("updateLoading") updateLoading;
  on = false;
  modalOpen = false;
  formCount = 1;
  eductaionFrame = {
    educationalid: "",
    qualification: "",
    course: "",
    specialization: "",
    insitution: "",
    university: "",
    passoutyear: "",
    percentage: "",
  };
  educationalData: Array<IEducationalFrame> = [];
  errMsg = {
    qualification: "",
    course: "",
    specialization: "",
    insitution: "",
    university: "",
    passoutyear: "",
    percentage: "",
  };
  formValidate = {
    qualification: false,
    course: false,
    specialization: false,
    insitution: false,
    university: "",
    passoutyear: false,
    percentage: false,
  };
  setIndex = -1;

  qualificationData: Array<{ name: string; value: string }> = qualification;
  get qualificationStyle(): Partial<CSSStyleDeclaration> {
    return {
      width: "500px",
      height: "40px",
    };
  }
  updateCount(): void {
    this.formCount = this.formCount + 1;
  }

  editClick(value: boolean, data: IEducationalFrame): void {
    this.modalOpen = value;
    EventBus.emit("educationalData", data);
    EventBus.emit("completeEducationalDetails", this.educationalData);
  }

  deleteClick(data: IEducationalFrame): void {
    for (let index = 0; index < this.educationalData.length; index++) {
      if (this.educationalData[index].educationalid === data.educationalid) {
        const deleteObj = {
          data: {
            educationalid: this.educationalData[index].educationalid,
          },
        };
        this.updateLoading({
          value: true,
        });
        HTTP.delete(
          `deleteeducationaldetailsbyid?employeeid=${this.employeeid}`,
          deleteObj
        )
          .then((response) => {
              this.updateLoading({
                value: false,
              });
            if (!response.data.error) {
              EventBus.emit("completeEducationalDetails", this.educationalData);
            }
          })
          .catch((err) => {
            console.log("Error", err);
            this.updateLoading({
              value: false,
            });
          });
        this.educationalData.splice(index, 1);
        break;
      }
    }
  }

  get getIconStyle(): Partial<CSSStyleDeclaration> {
    return {
      marginBottom: "-0.5rem",
    };
  }
  get getModalStyle(): Partial<CSSStyleDeclaration> {
    return {
      display: this.modalOpen ? "block" : "none",
    };
  }

  mounted(): void {
    this.getEducationalInfo();
  }

  async getEducationalInfo(): Promise<void> {
    try {
      this.updateLoading({
        value: true,
      });
      const res = await HTTP.get(
        `geteducationaldetailsbyid?employeeid=${this.employeeid}`
      );
      this.updateLoading({
          value: false,
      });
      const data = await res.data;
      if (!res.data.error) {
        this.educationalData = data.data;
      }
    } catch (err) {
      console.log("Error", err);
      this.updateLoading({
        value: false,
      });
    }
  }

  async updateEducationalData(data: IEducationalFrame): Promise<void> {
    if (data.educationalid === "") {
      let addedData: IEducationalFrame = {
        educationalid: "",
        qualification: "",
        course: "",
        specialization: "",
        insitution: "",
        university: "",
        passoutyear: "",
        percentage: "",
      };
      try {
        this.updateLoading({
          value: true,
        });
        const response = await HTTP.post(
          `addeducationaldetails?employeeid=${this.employeeid}`,
          data
        );
        this.updateLoading({
          value: false,
        });
        addedData = response.data.data;
        if (!response.data.error) {
          this.educationalData.push(addedData);
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Saved Successfully",
          });
        }
      } catch (err) {
        console.log("Error", err);
        this.updateLoading({
          value: false,
        });
      }
    } else {
      for (let index = 0; index < this.educationalData.length; index++) {
        if (this.educationalData[index].educationalid === data.educationalid) {
          try {
            this.updateLoading({
              value: true,
            });
            const response = await HTTP.post(
              `updateeducationaldetailbyid?employeeid=${this.employeeid}`,
              data
            );
              this.updateLoading({
                value: false,
              });
            if (!response.data.error) {
              this.educationalData[index] = data;
              EventBus.emit("setPopUp", {
                showPopUp: true,
                type: "success",
                message: "Saved Successfully",
              });
            }
          } catch (err) {
            console.log("Error", err);
            this.updateLoading({
              value: false,
            });
          }
          break;
        }
      }
    }
  }
}
</script>

<style scoped>
.btn-style {
  background-color: rgb(80, 200, 120);
  color: white;
  float: right;
}
.education {
  margin: 10px;
}
select option {
  color: black;
}
select option[disabled]:first-child {
  color: #80808082;
}
/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}
::placeholder {
  color: rgb(187, 186, 186);
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  color: #496388 !important;
}
.addbtn {
  text-align: right;
  margin-right: 40px;
  margin-top: 23px;
}
.btntext {
  border: 1px solid rgb(197, 193, 193);
  border-radius: 4px;
  padding: 4px;
}
.active-btn {
  background-color: rgb(80, 200, 120);
}
.errormsg {
  font-size: 12px;
  color: red;
}

.iconStyle {
  cursor: pointer;
}

.editIconClass {
  color: blue;
  margin-right: 13px;
  cursor: pointer;
}

.deleteIconClass {
  color: red;
  cursor: pointer;
}
.emptyMessage {
  color: #e4dfdf;
}
</style>
