<template>
  <div>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Designation</th>
            <th scope="col">Company</th>
            <th scope="col">Working From</th>
            <th scope="col">Working Till</th>
            <th scope="col">City</th>
            <th>
              <h3 :style="getIconStyle">
                <font-awesome-icon
                  icon="plus-circle"
                  class="pointer"
                  @click="editClick(true, obj, 'Add')"
                  title="Add"
                />
              </h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in tableDetails" :key="index" :id="index">
            <th scope="row">{{ item.designation }}</th>
            <td>{{ item.company }}</td>
            <td>{{ item.workingFrom }}</td>
            <td>{{ item.workingTill }}</td>
            <td>{{ item.city }}</td>
            <td>
              <font-awesome-icon
                icon="edit"
                @mousedown="setIndex = parseInt(index)"
                @click="editClick(true, item, 'Update')"
                title="Edit"
                class="mr-2 pointer text-primary"
              />
              <font-awesome-icon
                icon="trash-alt"
                class="text-danger pointer"
                @click="deleteTableDetails(index, item)"
                title="Delete"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <h5 v-if="tableDetails.length === 0" class="emptyMessage">
        No Experience Added
      </h5>
    </div>
    <ExperienceEdit
      :style="getModalStyle"
      :objectData="tableData"
      :btnValue="btnValue"
      @updateRowData="handleUpdate"
      @closeModal="
        (value) => {
          editClick(value);
        }
      "
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ExperienceEdit from "@/components/ExperienceEdit.vue";
import { HTTP } from "@/http/http-common";
import { EventBus } from "@/event-bus";
import { State, Action } from "vuex-class";

@Options({
  components: {
    ExperienceEdit,
  },
})
export default class Experience extends Vue {
  @State((state) => state.employeeid) employeeid;
  @State((state) => state.loading) loading;
  @Action("updateLoading") updateLoading;

  tableDetails: Array<{
    employee_id: string;
    experienceid: number | null;
    designation: string;
    company: string;
    workingFrom: string;
    workingTill: string;
    city: string;
  }> = [];
  btnValue = "";
  obj = {
    designation: "",
    company: "",
    workingFrom: "",
    workingTill: "",
    city: "",
  };
  modalOpen = false;
  tableData = {};
  setIndex = -1;

  get getIconStyle(): Partial<CSSStyleDeclaration> {
    return {
      marginBottom: "-0.5px",
    };
  }
  handleUpdate(e: {
    employee_id: string;
    experienceid: number | null;
    designation: string;
    company: string;
    workingFrom: string;
    workingTill: string;
    city: string;
  }): void {
    if (this.setIndex === -1) {
      this.updateLoading({
        value: true,
      });
      HTTP.post(`addexperiencedetailsbyid?employeeid=${this.employeeid}`, e)
        .then((response) => {
          this.updateLoading({
            value: false,
          });
          if (!response.data.error) {
            this.getExperienceDetails();
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Saved Successfully",
            });
          }
        })
        .catch((error) => {
          console.log(error);
          this.updateLoading({
            value: false,
          });
        });
    } else {
      this.updateLoading({
        value: true,
      });
      HTTP.post(`updateexperiencedetailsbyid?employeeid=${this.employeeid}`, e)
        .then((response) => {
          this.updateLoading({
            value: false,
          });
          if (!response.data.error) {
            this.getExperienceDetails();
            this.setIndex = -1;
            EventBus.emit("setPopUp", {
              showPopUp: true,
              type: "success",
              message: "Saved Successfully",
            });
          }
        })
        .catch((error) => {
          console.log(error);
          this.updateLoading({
            value: false,
          });
        });
    }
  }

  get getModalStyle(): Partial<CSSStyleDeclaration> {
    return {
      display: this.modalOpen ? "block" : "none",
    };
  }
  editClick(
    value: boolean,
    item: {
      employee_id: string;
      experienceid: number | null;
      designation: string;
      company: string;
      workingFrom: string;
      workingTill: string;
      city: string;
    },
    btnValue: string
  ): void {
    this.modalOpen = value;
    this.btnValue = btnValue;
    if (value) {
      this.tableData = { ...item };
    } else {
      this.tableData = {};
    }
  }
  //delete date
  deleteTableDetails(
    index: number,
    item: {
      employee_id: string;
      experienceid: number | null;
      designation: string;
      company: string;
      workingFrom: string;
      workingTill: string;
      city: string;
    }
  ): void {
    const config = {
      data: item,
    };
    this.updateLoading({
      value: true,
    });
    HTTP.delete(
      `deleteexperiencedetailsbyid?employeeid=${this.employeeid}`,
      config
    )
      .then((response) => {
        this.updateLoading({
          value: false,
        });
        if (!response.data.error) {
          this.getExperienceDetails();
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Deleted Successfully",
          });
        }
      })
      .catch((error) => {
        console.log(error);
        this.updateLoading({
          value: false,
        });
      });
  }

  mounted(): void {
    this.getExperienceDetails();
  }

  //get data
  async getExperienceDetails(): Promise<void> {
    try {
       this.updateLoading({
        value: true,
      });
      const res = await HTTP.get(
        `getexperiencedetailsbyid?employeeid=${this.employeeid}`
      );
       this.updateLoading({
        value: false,
      });
      const data = await res.data;
      this.tableDetails = data.data;
    } catch (error) {
      console.log(error);
       this.updateLoading({
        value: false,
      });
    }
  }
}
</script>

<style scoped>
.pointer {
  cursor: pointer;
}
.emptyMessage {
  color: #e4dfdf;
}
</style>