<template>
  <div>
    <div class="outerDiv">
      <div class="firstDiv">
        <div class="row rowDiv">
          <div class="card col-md-5 cardDiv">
            <div>
              <div class="profile profileDiv">
                <img src="../assets/noimage.png" class="imgClass" />
              </div>
              <div class="topLeftTextStyle tlClass">
                {{ localPersonalObj.firstname }}
                {{ localPersonalObj.lastname }} ({{
                  localPersonalObj.employeeid
                }})
              </div>
              <div class="topLeftTextStyle tlClass1">
                {{ localPersonalObj.designation }}
              </div>
              <div class="topLeftTextStyle fontOnlyClass">
                +91 {{ localPersonalObj.contactnumber }}
              </div>
              <div class="topLeftTextStyle fontOnlyClass">
                {{ localPersonalObj.officemailid }}
              </div>
              <div class="progressDivClass">
                <progress
                  :value="progressValue"
                  max="100"
                  class="progressClass"
                ></progress
                ><span class="progSpanClass">{{ progressValue }}%</span>
              </div>
            </div>
            <div>
              <div @click="editClick(true)">
                <img src="../assets/edit.png" class="editSymbolClass" />
              </div>
            </div>
          </div>
          <div class="card col-md-6 cardDiv">
            <div class="rightTopClass">Quick Access</div>
            <div class="row rowClass">
              <router-link to="/" class="linkClass">
                <div class="profile profClass">
                  <img src="../assets/trekking.png" class="imgtrekClass" />
                  <div class="rightTextStyle">Leaves</div>
                </div>
              </router-link>
              <router-link to="/" class="linkClass">
                <div class="profile profClass">
                  <img src="../assets/clock.png" class="imgtrekClass" />
                  <div class="rightTextStyle tsClass">Time Sheet</div>
                </div>
              </router-link>
              <router-link to="/" class="linkClass">
                <div class="profile profClass">
                  <img src="../assets/expenses.png" class="imgtrekClass" />
                  <div class="rightTextStyle">Expenses</div>
                </div>
              </router-link>
              <router-link to="/" class="linkClass">
                <div class="profile profClass">
                  <img src="../assets/immigration.png" class="imgtrekClass" />
                  <div class="rightTextStyle">Attendance</div>
                </div>
              </router-link>
              <router-link to="/" class="linkClass">
                <div class="profile profClass">
                  <img src="../assets/dots.png" class="imgtrekClass" />
                  <div class="rightTextStyle">More</div>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row contRowClass">
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1 prof1Class">
                  <img
                    src="../assets/personal.svg"
                    alt="personal"
                    class="iconClass"
                  />
                </div>
                <div class="card-title">Personal<br /></div>
                <div class="card-subtitle">
                  <router-link to="/personal">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1 prof1EduClass">
                  <font-awesome-icon icon="user-graduate" class="iconClass" />
                </div>
                <div class="card-title">Educational<br /></div>
                <div class="card-subtitle">
                  <router-link to="/educational">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1 prof1skillClass">
                  <img
                    src="../assets/logical-thinking.png"
                    alt="skills"
                    class="iconClass"
                  />
                </div>
                <div class="card-title">IT Skills<br /></div>
                <div class="card-subtitle">
                  <router-link to="/technology">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1 prof1ExpClass">
                  <img
                    src="../assets/experience.svg"
                    alt="experience"
                    class="iconClass"
                  />
                </div>
                <div class="card-title">Experience<br /></div>
                <div class="card-subtitle">
                  <router-link to="/experience">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1 prof1ProjClass">
                  <img
                    src="../assets/testing.png"
                    alt="projects"
                    class="iconClass"
                  />
                </div>
                <div class="card-title">Projects<br /></div>
                <div class="card-subtitle">
                  <router-link to="/projectdetail">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-100">
            <div class="card-content">
              <div class="card-body p-0">
                <div class="profile1 prof1CertClass">
                  <img
                    src="../assets/document.png"
                    alt="certifications"
                    class="iconClass"
                  />
                </div>
                <div class="card-title">Certifications<br /></div>
                <div class="card-subtitle">
                  <router-link to="/achievements">
                    <button type="button" class="btn btn-primary">Add</button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ProfileEdit
      :style="getModalStyle"
      @emitProfileData="updateProfileData"
      @closeModal="
        (value) => {
          editClick(value);
        }
      "
    />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ProfileEdit from "@/components/ProfileEdit.vue";
import { HTTP } from "@/http/http-common";
import { EventBus } from "@/event-bus";
import { State, Action } from "vuex-class";
interface ILocalPersonalObj {
  employeeid: string;
  designation: string;
  firstname: string;
  lastname: string;
  gender: string;
  joiningdate: string;
  contactnumber: string;
  alternativenumber: string;
  emrgycontactnumber1: string;
  emrgycontactnumber2: string;
  officemailid: string;
  personalmailid: string;
  permanentaddrs: string;
  temporaryaddrs: string;
  resume: string;
}
@Options({
  components: {
    ProfileEdit,
  },
})
export default class HomePage extends Vue {
  @State((state) => state.employeeid) employeeid;
  @State((state) => state.loading) loading;
  @Action("updateLoading") updateLoading;
  progressValue = 10;
  modalOpen = false;
  localPersonalObj = {
    employeeid: "",
    designation: "________",
    firstname: "_______",
    lastname: "_",
    gender: "",
    joiningdate: "",
    contactnumber: "00000000000",
    alternativenumber: "",
    emrgycontactnumber1: "",
    emrgycontactnumber2: "",
    officemailid: "___@ty.__",
    personalmailid: "",
    permanentaddrs: "",
    temporaryaddrs: "",
    resume: "",
  };
  editClick(value: boolean): void {
    this.modalOpen = value;
    EventBus.emit("profileData", this.localPersonalObj);
  }
  get getModalStyle(): Partial<CSSStyleDeclaration> {
    return {
      display: this.modalOpen ? "block" : "none",
    };
  }

  mounted(): void {
    this.getPersonalInfo();
  }

  async getPersonalInfo(): Promise<void> {
    try {
      this.updateLoading({
        value: true,
      });
      const res = await HTTP.get(
        `getessemployee?employeeid=${this.employeeid}`
      );
        this.updateLoading({
          value: false,
        });
      const data = await res.data.data;
      if (!res.data.error) {
        this.localPersonalObj = { ...data };
      }
    } catch (err) {
      console.log("Error", err);
      this.updateLoading({
        value: false,
      });
    }
  }

  updateProfileData(data: ILocalPersonalObj): void {
    this.localPersonalObj = data;
  }
}
</script>

<style scoped>
.title {
  font-size: 25px;
  font-weight: 100;
}

.icon {
  position: relative;
  bottom: 11px;
}

.mt-100 {
  width: 150px;
  margin-top: 40px;
}

.profile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.card {
  height: 210px;
  background-color: rgb(240, 255, 255);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  position: relative;
  bottom: 35px;
  padding-top: 0px !important;
}

.btn {
  margin-top: 36px;
  margin-bottom: 45px;
  border: none;
  color: #fff;
  border-radius: 20px;
  width: 80px;
}

.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: #fff;
}

.header {
  padding-top: 40px;
}
.card-title {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 20px;
  color: darkcyan;
}
.outerDiv {
  display: grid;
  grid-template-columns: 1fr;
}
.rightTopClass {
  font-size: 30px;
  color: blue;
  text-align: left;
  margin-top: 20px;
}
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rightTextStyle {
  position: relative;
  top: -13px;
  left: 6px;
  color: white;
  width: 81px;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  width: 0px;
  height: 0px;
  position: relative;
  top: 20px;
  left: -16px;
}
.topLeftTextStyle {
  cursor: context-menu;
  text-align: left;
  color: rgb(0, 123, 255);
}
.iconClass {
  height: 45px;
  width: 45px;
  position: relative;
  top: 21px;
  font-size: 50px;
  color: black;
}

.profile1 {
  position: relative;
  left: 17px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.firstDiv {
  height: 280px;
}

.rowDiv {
  justify-content: center;
}

.cardDiv {
  height: 240px;
}

.profileDiv {
  width: 60px;
  height: 60px;
  position: relative;
  top: 13px;
}

.imgClass {
  width: 60px !important;
  height: 60px !important;
}

.tlClass {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

.tlClass1 {
  font-weight: bold;
  font-size: 14px;
}

.fontOnlyClass {
  font-size: 14px;
}

.progressDivClass {
  display: flex;
  position: relative;
  bottom: -30px;
}

.progressClass {
  width: calc(100% - 90px);
  height: 30px;
  pointer-events: none;
}

.progSpanClass {
  padding-left: 20px;
  padding-top: 2px;
  color: rgb(0, 123, 255);
  cursor: context-menu;
}

.editSymbolClass {
  width: 25px;
  height: 20px;
  float: right;
  position: relative;
  top: -180px;
  cursor: pointer;
}

.rowClass {
  justify-content: center;
  margin-top: 30px;
}

.linkClass {
  width: 110px;
  text-decoration: none;
}

.profClass {
  margin-right: 20px;
  background-color: rgb(0, 123, 255);
  border-radius: 50%;
  height: 95px;
  width: 95px;
  cursor: pointer;
}

.imgtrekClass {
  opacity: 0.5;
  width: 45px !important;
  height: 45px !important;
  position: relative;
  top: 20px;
  border-radius: 0% !important;
}

.tsClass {
  top: -23px;
}

.contRowClass {
  justify-content: center;
}

.prof1Class {
  background-color: #e4adff9e;
}

.prof1EduClass {
  background-color: #f49698c4;
}

.prof1skillClass {
  background-color: #ced0daed;
}

.prof1ExpClass {
  background-color: #e7c4d7;
}

.prof1ProjClass {
  background-color: #85ced8b0;
}

.prof1CertClass {
  background-color: #a5727275;
}
</style>