<template>
  <div
    :style="popUpStyleObj"
    class="modal outerDiv"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="loader"></div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { State } from "vuex-class";

@Options({
  components: {},
})
export default class Loading extends Vue {
  @State((state) => state.loading) loading;

  get popUpStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      display: this.loading ? "block" : "none",
    };
  }
}
</script>
<style scoped>
.outerDiv {
  background: rgb(0, 37, 77, 0.6);
}
.loader {
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin-right: -25%;
  margin-bottom: -25%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>