<template>
  <div>
    <div class="personal">
      <form class="container outer" @submit="submitForm">
        <div class="card cardBorder">
          <div class="card-body shadow w-100 body-style">
            <div class="grid">
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">First Name</label>
                  <input
                    type="text"
                    class="form-control eidClass"
                    placeholder="First Name"
                    v-model="localPersonalObj.firstname"
                    @change="nameValidate($event)"
                    :readonly="isEditable"
                  />
                  <span
                    v-if="!validatorsObj.nameValidateValue"
                    class="invalidClass"
                    >First Name must contain minimum of 3 character and accepts
                    only Alphabets</span
                  >
                  <span
                    v-else-if="!validatorsObj.nameValidateValueOnSubmit"
                    class="invalidClass"
                    >First Name is required*</span
                  >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Last Name</label>
                  <input
                    type="text"
                    class="form-control eidClass"
                    placeholder="Last Name"
                    v-model="localPersonalObj.lastname"
                    @change="lastNameValidate($event)"
                    :readonly="isEditable"
                  />
                  <span
                    v-if="!validatorsObj.lastNameValidateValue"
                    class="invalidClass"
                    >Last Name accepts only Alphabets</span
                  >
                  <span
                    v-else-if="!validatorsObj.lastNameValidateValueOnSubmit"
                    class="invalidClass"
                    >Last Name field is required*</span
                  >
                </div>
              </div>
            </div>
            <font-awesome-icon
              icon="edit"
              title="Edit"
              class="editIconClass"
              :style="editIconStyleObj"
              @click="isEditable = false"
            />
            <div class="grid">
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Employee ID</label>
                  <input
                    type="text"
                    class="form-control eidClass"
                    placeholder="Employee ID"
                    v-model="localPersonalObj.employeeid"
                    @change="updateEmpID"
                    :readonly="true"
                  />
                  <!-- <span v-if="!empIDValue" class="invalidClass"
                >Employee ID must start with TY*</span
              > -->
                  <span
                    v-if="!validatorsObj.empIDValueOnSubmit"
                    class="invalidClass"
                    >Employee ID field is required*</span
                  >
                </div>
              </div>
              <div class="outerGenderClass">
                <label class="labelStyle labelGenderClass">Gender</label>
                <div class="col-sm-10 alignCenter">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      @change="changeRadioValue"
                      value="male"
                      v-model="localPersonalObj.gender"
                      :disabled="isEditable"
                    />
                    <label
                      class="form-check-label genderValueLabel"
                      for="inlineRadio1"
                      >Male</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio2"
                      @change="changeRadioValue"
                      value="female"
                      v-model="localPersonalObj.gender"
                      :disabled="isEditable"
                    />
                    <label
                      class="form-check-label genderValueLabel"
                      for="inlineRadio2"
                      >Female</label
                    >
                  </div>
                  <span
                    v-if="!validatorsObj.genderValueOnSubmit"
                    class="invalidClass"
                    >required*</span
                  >
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Designation</label>
                  <input
                    type="text"
                    class="form-control eidClass"
                    placeholder="Designation"
                    v-model="localPersonalObj.designation"
                    @change="updateDesignation"
                    :readonly="isEditable"
                  />
                  <span
                    v-if="!validatorsObj.designationValue"
                    class="invalidClass"
                    >Designation accepts only Alphabets</span
                  >
                  <span
                    v-if="!validatorsObj.designationValueOnSubmit"
                    class="invalidClass"
                    >Designation field is required*</span
                  >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">TY Joining Date</label>
                  <input
                    :type="setDate ? 'date' : 'text'"
                    @input="setDateValue"
                    @focus="updateSetDateOnFocus"
                    @blur="updateSetDate"
                    :value="getDateValue"
                    class="form-control eidClass"
                    placeholder="TY Joining Date"
                    :min="setMinDate()"
                    :max="setMaxDate()"
                    :readonly="isEditable"
                  />
                  <span
                    v-if="!validatorsObj.joiningDateValue"
                    class="invalidClass"
                    >Joining Date is required*</span
                  >
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Contact Number</label>
                  <input
                    type="number"
                    class="form-control eidClass"
                    placeholder="Contact Number"
                    v-model="localPersonalObj.contactnumber"
                    @change="updateContactNumber"
                    :readonly="isEditable"
                  />
                  <span
                    v-if="!validatorsObj.contactValidateValue"
                    class="invalidClass"
                    >Contact number must contain 10 digits*</span
                  >
                  <span
                    v-else-if="validatorsObj.contactNumberExist"
                    class="invalidClass"
                    >Number already exist in other field*</span
                  >
                  <span
                    v-else-if="!validatorsObj.contactValidateValueOnSubmit"
                    class="invalidClass"
                    >Contact number field is required*</span
                  >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Alternate Number</label>
                  <input
                    type="number"
                    class="form-control eidClass"
                    placeholder="Alternate Number"
                    v-model="localPersonalObj.alternativenumber"
                    @change="updateAlternativeNumber"
                    :readonly="isEditable"
                  />
                  <span
                    v-if="!validatorsObj.alternateValidateValue"
                    class="invalidClass"
                    >Contact number must contain 10 digits*</span
                  >
                  <span
                    v-else-if="validatorsObj.alternateNumberExist"
                    class="invalidClass"
                    >Number already exist in other field*</span
                  >
                  <span
                    v-else-if="!validatorsObj.alternateValidateValueOnSubmit"
                    class="invalidClass"
                    >Alternate number field is required*</span
                  >
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Emergency Contact Number 1</label>
                  <input
                    type="number"
                    class="form-control eidClass"
                    placeholder="Emergency Contact Number 1"
                    v-model="localPersonalObj.emrgycontactnumber1"
                    @change="updateEmergencyNumber1"
                    :readonly="isEditable"
                  />
                  <span
                    v-if="!validatorsObj.emergencyValidateValue1"
                    class="invalidClass"
                    >Contact number must contain 10 digits*</span
                  >
                  <span
                    v-else-if="validatorsObj.emergencyNumber1Exist"
                    class="invalidClass"
                    >Number already exist in other field*</span
                  >
                  <span
                    v-else-if="!validatorsObj.emergencyValidateValue1OnSubmit"
                    class="invalidClass"
                    >Emergency contact number field is required*</span
                  >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Emergency Contact Number 2</label>
                  <input
                    type="number"
                    class="form-control eidClass"
                    placeholder="Emergency Contact Number 2"
                    v-model="localPersonalObj.emrgycontactnumber2"
                    @change="updateEmergencyNumber2"
                    :readonly="isEditable"
                  />
                  <span
                    v-if="!validatorsObj.emergencyValidateValue2"
                    class="invalidClass"
                    >Contact number must contain 10 digits*</span
                  >
                  <span
                    v-else-if="validatorsObj.emergencyNumber2Exist"
                    class="invalidClass"
                    >Number already exist in other field*</span
                  >
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Office Mail ID</label>
                  <input
                    type="text"
                    class="form-control eidClass"
                    placeholder="Office Mail ID"
                    v-model="localPersonalObj.officemailid"
                    @change="updateOfficeMail"
                    :readonly="isEditable"
                  />
                  <span
                    v-if="!validatorsObj.officialEmailValue"
                    class="invalidClass"
                    >Email address must contain @ and must not end with special
                    character*</span
                  >
                  <span
                    v-else-if="validatorsObj.officialEmailExist"
                    class="invalidClass"
                    >Email already exists*</span
                  >
                  <span
                    v-else-if="!validatorsObj.officialEmailValueOnSubmit"
                    class="invalidClass"
                    >Official email is required*</span
                  >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Personal Mail ID</label>
                  <input
                    type="text"
                    class="form-control eidClass"
                    placeholder="Personal Mail ID"
                    v-model="localPersonalObj.personalmailid"
                    @change="updatePersonalMail"
                    :readonly="isEditable"
                  />
                  <span
                    v-if="!validatorsObj.personalEmailValue"
                    class="invalidClass"
                    >Email address must contain @ and must not end with special
                    character*</span
                  >
                  <span
                    v-else-if="validatorsObj.personalEmailExist"
                    class="invalidClass"
                    >Email already exists*</span
                  >
                  <span
                    v-else-if="!validatorsObj.personalEmailValueOnSubmit"
                    class="invalidClass"
                    >Personal email is required*</span
                  >
                </div>
              </div>
            </div>
            <div class="grid addrClass">
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Permanent Address</label>
                  <textarea
                    type="text"
                    class="form-control gridAddress"
                    placeholder="Permanent Address"
                    @change="updatePermanentAddr"
                    v-model="localPersonalObj.permanentaddrs"
                    :readonly="isEditable"
                  ></textarea>
                  <span
                    v-if="!validatorsObj.permanentAddrOnSubmit"
                    class="invalidClass"
                    >Permanent address is required*</span
                  >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Temporary Address</label>
                  <textarea
                    type="text"
                    class="form-control gridAddress"
                    placeholder="Temporary Address"
                    @change="updateTempAddr"
                    v-model="localPersonalObj.temporaryaddrs"
                    :readonly="isEditable"
                  ></textarea>
                  <span
                    v-if="!validatorsObj.tempAddrOnSubmit"
                    class="invalidClass"
                    >Temporary address is required*</span
                  >
                </div>
              </div>
            </div>
            <div class="grid addrClass">
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Profile Summary</label>
                  <textarea
                    type="text"
                    class="form-control gridAddress"
                    placeholder="Descibe yourself"
                    title="This will be used in Resume as summary"
                    @change="updateSummary"
                    v-model="localPersonalObj.summary"
                    :readonly="isEditable"
                  ></textarea>
                  <span
                    v-if="!validatorsObj.summaryOnSubmit"
                    class="invalidClass"
                    >Summary is required*</span
                  >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <label class="labelStyle">Total Experience</label>
                  <br />
                  <div class="outerDrpdwnDivClass">
                    <div
                      class="innerDrpdwnDivClass"
                      :style="innerDrpdwnDivStyleObj"
                    >
                      <label class="labelClass">years</label>
                      <input
                        type="text"
                        v-if="totalYsize === 0"
                        :value="localTotalExp.year"
                        placeholder="Years"
                        :style="totalExpYearStyle"
                        class="btnOutline"
                        @click="totalYmousedown()"
                        :disabled="isEditable"
                      />
                      <select
                        v-else-if="totalYsize !== 0"
                        :size="totalYsize"
                        :disabled="isEditable"
                        class="form-select empty"
                        aria-label="Default select example"
                        :style="totalExpMonthStyle"
                        ref="totalYRef"
                        @blur="totalYsize = 0"
                        @mouseleave="totalYsize = 0"
                        @change="validatetotalExpYear"
                      >
                        <option
                          v-if="localTotalExp.year !== ''"
                          :value="localTotalExp.year"
                          :selected="localTotalExp.year !== '' ? true : false"
                          disabled
                        >
                          {{ localTotalExp.year }}
                        </option>
                        <option
                          v-else-if="localTotalExp.year === ''"
                          value=""
                          selected
                          disabled
                        >
                          Years
                        </option>
                        <option :key="year" v-for="year of years" :value="year">
                          {{ year }}
                        </option>
                      </select>
                    </div>
                    <div
                      class="innerDrpdwnDivClass"
                      :style="innerDropDownMonthStyleObj"
                    >
                      <label class="labelTotalMonthStyle">months</label>
                      <input
                        type="text"
                        v-if="totalMsize === 0"
                        :value="localTotalExp.month"
                        placeholder="Months"
                        :style="localTotalExpStyleObj"
                        class="btnOutline"
                        @click="totalMmousedown()"
                        :disabled="isEditable"
                      />
                      <select
                        v-else-if="totalMsize !== 0"
                        :size="totalMsize"
                        :disabled="isEditable"
                        class="form-select empty"
                        aria-label="Default select example"
                        :style="totalMSelectStyleObj"
                        ref="totalMRef"
                        @mouseleave="totalMsize = 0"
                        @blur="totalMsize = 0"
                        @change="validatetotalExpMonth"
                      >
                        <option
                          v-if="localTotalExp.month !== ''"
                          :value="localTotalExp.month"
                          :selected="localTotalExp.month !== '' ? true : false"
                          disabled
                        >
                          {{ localTotalExp.month }}
                        </option>
                        <option
                          v-else-if="localTotalExp.month === ''"
                          value=""
                          selected
                          disabled
                        >
                          Months
                        </option>
                        <option
                          :key="month"
                          v-for="month of months"
                          :value="month"
                        >
                          {{ month }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <br />
                  <label class="labelStyle relExpClass"
                    >Relevant Experience</label
                  >
                  <br />
                  <div class="outerRelYClass">
                    <div class="innerRelYClass" :style="innerRelYStyleObj">
                      <label class="labelRelYClass">years</label>
                      <input
                        type="text"
                        v-if="relYsize === 0"
                        :value="localRelExp.year"
                        placeholder="Years"
                        :style="localRelExpStyleObj"
                        @click="relYmousedown()"
                        class="btnOutline"
                        :disabled="isEditable"
                      />
                      <select
                        v-else-if="relYsize !== 0"
                        :size="relYsize"
                        :disabled="isEditable"
                        class="form-select empty"
                        aria-label="Default select example"
                        :style="localRelExpYStyleObj"
                        ref="relYRef"
                        @mousedown="relYmousedown()"
                        @mouseleave="relYsize = 0"
                        @blur="relYsize = 0"
                        @change="validateRelExpYear"
                      >
                        <option
                          v-if="localRelExp.year !== ''"
                          :value="localRelExp.year"
                          :selected="localRelExp.year !== '' ? true : false"
                          disabled
                        >
                          {{ localRelExp.year }}
                        </option>
                        <option
                          v-else-if="localRelExp.year === ''"
                          value=""
                          selected
                          disabled
                        >
                          Years
                        </option>
                        <option
                          :key="year"
                          v-for="year of years"
                          :value="year"
                          class="optionWidth"
                        >
                          {{ year }}
                        </option>
                      </select>
                    </div>
                    <div class="relMOuterClass" :style="relMOuterStyleObj">
                      <label class="relMInnerClass">months</label>
                      <input
                        type="text"
                        v-if="relMsize === 0"
                        :value="localRelExp.month"
                        placeholder="Months"
                        :style="relMInputStyleObj"
                        class="btnOutline"
                        @click="relMmousedown()"
                        :disabled="isEditable"
                      />
                      <select
                        v-else-if="relMsize !== 0"
                        :size="relMsize"
                        :disabled="isEditable"
                        class="form-select empty"
                        aria-label="Default select example"
                        :style="relMStyleObj"
                        ref="relMRef"
                        @mousedown="relMmousedown()"
                        @mouseleave="relMsize = 0"
                        @blur="relMsize = 0"
                        @change="validateRelExpMonth"
                      >
                        <option
                          v-if="localRelExp.month !== ''"
                          :value="localRelExp.month"
                          :selected="localRelExp.month !== '' ? true : false"
                          disabled
                        >
                          {{ localRelExp.month }}
                        </option>
                        <option
                          v-else-if="localRelExp.month === ''"
                          value=""
                          selected
                          disabled
                        >
                          Months
                        </option>
                        <option
                          :key="month"
                          v-for="month of months"
                          :value="month"
                          class="optionWidth"
                        >
                          {{ month }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="form-check">
                <span v-if="!allChecked" class="invalidClass submitSpanClass"
                  >Please select to Submit*</span
                >
              </div>
              <div>
                <button class="submitButtonStyle" title="Save">Save</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { Ref } from "vue-property-decorator/lib";
import { HTTP } from "../http/http-common";
import { EventBus } from "@/event-bus";
import { validators } from "@/validators/validators";
import { State, Action } from "vuex-class";
interface ILocalPersonalObj {
  employeeid: string;
  designation: string;
  firstname: string;
  lastname: string;
  gender: string;
  joiningdate: string;
  contactnumber: string;
  alternativenumber: string;
  emrgycontactnumber1: string;
  emrgycontactnumber2: string;
  officemailid: string;
  personalmailid: string;
  permanentaddrs: string;
  temporaryaddrs: string;
  resume: string;
}
@Options({
  components: {},
})
export default class Personal extends Vue {
  @Ref("totalYRef") totalYRef!: HTMLSelectElement;
  @Ref("totalMRef") totalMRef!: HTMLSelectElement;
  @Ref("relYRef") relYRef!: HTMLSelectElement;
  @Ref("relMRef") relMRef!: HTMLSelectElement;
  @State((state) => state.employeeid) employeeid;
  @State((state) => state.loading) loading;
  @Action("updateLoading") updateLoading;

  totalYsize = 0;
  totalMsize = 0;
  relYsize = 0;
  relMsize = 0;
  allChecked = true;
  setDate = false;
  validatorsObj = {
    nameValidateValue: true,
    nameValidateValueOnSubmit: true,
    lastNameValidateValue: true,
    lastNameValidateValueOnSubmit: true,
    designationValue: true,
    designationValueOnSubmit: true,
    contactValidateValue: true,
    contactValidateValueOnSubmit: true,
    alternateValidateValue: true,
    alternateValidateValueOnSubmit: true,
    emergencyValidateValue1: true,
    emergencyValidateValue1OnSubmit: true,
    emergencyValidateValue2: true,
    officialEmailValue: true,
    officialEmailValueOnSubmit: true,
    personalEmailValue: true,
    personalEmailValueOnSubmit: true,
    empIDValue: true,
    empIDValueOnSubmit: true,
    permanentAddrOnSubmit: true,
    tempAddrOnSubmit: true,
    genderValueOnSubmit: true,
    joiningDateValue: true,
    summaryOnSubmit: true,
    totalExpYearValue: true,
    totalExpMonthValue: true,
    relExpYearValue: true,
    relExpMonthValue: true,
    isValidForm: false,
    contactNumberExist: false,
    alternateNumberExist: false,
    emergencyNumber1Exist: false,
    emergencyNumber2Exist: false,
    officialEmailExist: false,
    personalEmailExist: false,
  };
  localPersonalObj = {
    employeeid: "",
    designation: "",
    firstname: "",
    lastname: "",
    gender: "",
    joiningdate: "",
    contactnumber: "",
    alternativenumber: "",
    emrgycontactnumber1: "",
    emrgycontactnumber2: "",
    officemailid: "",
    personalmailid: "",
    permanentaddrs: "",
    temporaryaddrs: "",
    resume: "",
    totalexperience: "",
    relevantexperience: "",
    summary: "",
  };
  years = [
    "0",
    "1",
    "2",
    "3",
    "4",
    "5",
    "6",
    "7",
    "8",
    "9",
    "10",
    "11",
    "12",
    "13",
    "14",
    "15",
    "16",
    "17",
    "18",
    "19",
    "20",
    "21",
    "22",
    "23",
    "24",
    "25",
    "26",
    "27",
    "28",
    "29",
    "30",
    "31",
    "32",
    "33",
    "34",
    "35",
    "36",
    "37",
    "38",
    "39",
    "40",
    "41",
    "42",
    "43",
    "44",
    "45",
    "46",
    "47",
    "48",
    "49",
    "50",
    "51",
    "52",
    "53",
    "54",
    "55",
    "56",
    "57",
    "58",
    "59",
    "60",
  ];
  months = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11"];
  localTotalExp = {
    year: "",
    month: "",
  };

  localRelExp = {
    year: "",
    month: "",
  };
  isEditable = true;

  get editIconStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      color: !this.isEditable ? "#e9ecef" : "blue",
    };
  }

  get innerDrpdwnDivStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      gridTemplateRows: this.totalYsize === 0 ? "20px 40px" : "20px 1fr",
    };
  }

  get totalExpYearStyle(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      width: "110px",
      color: this.localTotalExp.month !== "" ? "#496388" : "rgb(187, 186, 186)",
    };
  }

  get totalExpMonthStyle(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      width: "110px",
      color: this.localTotalExp.year !== "" ? "#496388" : "rgb(187, 186, 186)",
    };
  }

  get innerDropDownMonthStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      gridTemplateRows: this.totalMsize === 0 ? "20px 40px" : "20px 1fr",
    };
  }

  get localTotalExpStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      width: "110px",
      marginLeft: "10px",
      color: this.localTotalExp.month !== "" ? "#496388" : "rgb(187, 186, 186)",
    };
  }

  get totalMSelectStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      width: "110px",
      marginLeft: "10px",
      color: this.localTotalExp.month !== "" ? "#496388" : "rgb(187, 186, 186)",
    };
  }

  get innerRelYStyleObj(): Partial<CSSStyleDeclaration> {
    return { gridTemplateRows: this.relYsize === 0 ? "20px 40px" : "20px 1fr" };
  }

  get localRelExpStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      width: "110px",
      color: this.localRelExp.year !== "" ? "#496388" : "rgb(187, 186, 186)",
    };
  }

  get localRelExpYStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      width: "110px",
      color: this.localRelExp.year !== "" ? "#496388" : "rgb(187, 186, 186)",
    };
  }

  get relMOuterStyleObj(): Partial<CSSStyleDeclaration> {
    return { gridTemplateRows: this.relMsize === 0 ? "20px 40px" : "20px 1fr" };
  }

  get relMInputStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      width: "110px",
      marginLeft: "10px",
      color: this.localRelExp.month !== "" ? "#496388" : "rgb(187, 186, 186)",
    };
  }

  get relMStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      border: "1px solid gray",
      borderRadius: "8px",
      width: "110px",
      marginLeft: "10px",
      color: this.localRelExp.month !== "" ? "#496388" : "rgb(187, 186, 186)",
    };
  }
  totalYmousedown(): void {
    this.totalYsize = 5;
    if (this.totalYRef) {
      this.totalYRef.focus();
    }
  }
  totalMmousedown(): void {
    this.totalMsize = 5;
    if (this.totalMRef) {
      this.totalMRef.focus();
    }
  }
  relYmousedown(): void {
    this.relYsize = 5;
    if (this.relYRef) {
      this.relYRef.focus();
    }
  }
  relMmousedown(): void {
    this.relMsize = 5;
    if (this.relMRef) {
      this.relMRef.focus();
    }
  }
  submitForm(e: Event): void {
    e.preventDefault();
    if (!this.isEditable) {
      this.validatorsObj.empIDValueOnSubmit = this.updateEmpIDOnSubmit(
        this.localPersonalObj.employeeid
      );
      this.validatorsObj.nameValidateValueOnSubmit = this.nameValidateOnSubmit(
        this.localPersonalObj.firstname
      );
      this.validatorsObj.lastNameValidateValueOnSubmit = this.lastNameValidateOnSubmit(
        this.localPersonalObj.lastname
      );
      this.validatorsObj.contactValidateValueOnSubmit = this.updateContactNumberOnSubmit(
        this.localPersonalObj.contactnumber
      );
      this.validatorsObj.alternateValidateValueOnSubmit = this.updateAlternateNumberOnSubmit(
        this.localPersonalObj.alternativenumber
      );
      this.validatorsObj.emergencyValidateValue1OnSubmit = this.updateEmergencyNumber1OnSubmit(
        this.localPersonalObj.emrgycontactnumber1
      );
      this.validatorsObj.officialEmailValueOnSubmit = this.updateOfficeMailOnSubmit(
        this.localPersonalObj.officemailid
      );
      this.validatorsObj.personalEmailValueOnSubmit = this.updatePersonalMailOnSubmit(
        this.localPersonalObj.personalmailid
      );
      this.validatorsObj.permanentAddrOnSubmit = this.updatePermanentAddrOnSubmit(
        this.localPersonalObj.permanentaddrs
      );
      this.validatorsObj.tempAddrOnSubmit = this.updateTempAddrOnSubmit(
        this.localPersonalObj.temporaryaddrs
      );
      this.validatorsObj.joiningDateValue = this.updateJoiningDateOnSubmit(
        this.localPersonalObj.joiningdate
      );
      this.validatorsObj.designationValueOnSubmit = this.updateDesignationOnSubmit(
        this.localPersonalObj.designation
      );
      this.validatorsObj.genderValueOnSubmit = this.validateGenderRadio();
      this.validatorsObj.summaryOnSubmit = this.updateSummaryOnSubmit(
        this.localPersonalObj.summary
      );

      if (
        this.validatorsObj.empIDValueOnSubmit &&
        this.validatorsObj.nameValidateValueOnSubmit &&
        this.validatorsObj.contactValidateValueOnSubmit &&
        this.validatorsObj.alternateValidateValueOnSubmit &&
        this.validatorsObj.emergencyValidateValue1OnSubmit &&
        this.validatorsObj.officialEmailValueOnSubmit &&
        this.validatorsObj.personalEmailValueOnSubmit &&
        this.validatorsObj.permanentAddrOnSubmit &&
        this.validatorsObj.tempAddrOnSubmit &&
        this.validatorsObj.joiningDateValue &&
        this.validatorsObj.genderValueOnSubmit &&
        // this.empIDValue &&
        this.validatorsObj.nameValidateValue &&
        this.validatorsObj.contactValidateValue &&
        this.validatorsObj.alternateValidateValue &&
        this.validatorsObj.emergencyValidateValue1 &&
        this.validatorsObj.emergencyValidateValue2 &&
        this.validatorsObj.officialEmailValue &&
        this.validatorsObj.personalEmailValue &&
        this.validatorsObj.summaryOnSubmit &&
        this.validatorsObj.totalExpYearValue &&
        this.validatorsObj.relExpYearValue &&
        this.validatorsObj.relExpMonthValue &&
        this.validatorsObj.totalExpMonthValue
      ) {
        this.validatorsObj.isValidForm = true;
        this.allChecked = true;
        this.localPersonalObj.relevantexperience =
          this.localRelExp.year + "/" + this.localRelExp.month;
        this.localPersonalObj.totalexperience =
          this.localTotalExp.year + "/" + this.localTotalExp.month;
        const data = this.localPersonalObj;
        this.updatePersonalInfo(data);
      } else {
        this.validatorsObj.isValidForm = false;
      }
    }
  }
  async updatePersonalInfo(data: ILocalPersonalObj): Promise<void> {
    try {
      this.updateLoading({
        value: true,
      });
      const response = await HTTP.post(`personaldetails`, data);
        this.updateLoading({
          value: false,
        });
      const resp = response.data;
      if (!resp.error) {
        EventBus.emit("setPopUp", {
          showPopUp: true,
          type: "success",
          message: "Saved Successfully",
        });
        this.isEditable = true;
      }
    } catch (err) {
      console.log("Error", err);
      this.updateLoading({
        value: false,
      });
    }
  }

  async getPersonalInfo(): Promise<void> {
    try {
      this.updateLoading({
        value: true,
      });
      const res = await HTTP.get(
        `getessemployee?employeeid=${this.employeeid}`
      );
      this.updateLoading({
        value: false,
      });
      const data = await res.data.data;
      if (!res.data.error) {
        this.localPersonalObj = { ...data };
        this.totalExperienceSetter();
        this.relExperienceSetter();
      }
    } catch (err) {
      this.updateLoading({
        value: false,
      });
      console.log("Error", err);
    }
  }

  totalExperienceSetter(): void {
    if (this.localPersonalObj.totalexperience !== "") {
      const totalexperience = this.localPersonalObj.totalexperience.split("/");
      this.localTotalExp.year = totalexperience[0];
      this.localTotalExp.month = totalexperience[1];
    }
  }

  relExperienceSetter(): void {
    if (this.localPersonalObj.relevantexperience !== "") {
      const relevantexperience = this.localPersonalObj.relevantexperience.split(
        "/"
      );
      this.localRelExp.year = relevantexperience[0];
      this.localRelExp.month = relevantexperience[1];
    }
  }

  setMaxDate(): string {
    let today = new Date();
    const dd = String(today.getDate()).padStart(2, "0");
    const mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
    const yyyy = today.getFullYear();
    const todaysDate = yyyy + "-" + mm + "-" + dd;
    return todaysDate;
  }

  setMinDate(): string {
    let today = new Date();
    const dd = String(today.getDate()).padStart(2, "0");
    const mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
    const yyyy = today.getFullYear() - 100;
    const minDate = yyyy + "-" + mm + "-" + dd;
    return minDate;
  }
  setDateValue(e: Event): void {
    this.setDate = true;
    this.validatorsObj.joiningDateValue = true;
    const eTarget = e.target as HTMLInputElement;
    this.localPersonalObj.joiningdate = eTarget.value;
    if (eTarget.value === "") {
      this.setDate = true;
    }
  }

  get getDateValue(): string {
    if (this.localPersonalObj.joiningdate) {
      const date = new Date(this.localPersonalObj.joiningdate);
      const dateVal =
        date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      const month = date.getMonth() + 1;
      const monthVal = month < 10 ? "0" + month : month;
      return `${date.getFullYear()}-${monthVal}-${dateVal}`;
    }
    return "";
  }

  updateJoiningDateOnSubmit(value: string): boolean {
    if (value !== "") {
      return true;
    } else {
      return false;
    }
  }

  updateSetDateOnFocus(): void {
    this.setDate = true;
  }
  updateSetDate(): void {
    if (this.localPersonalObj.joiningdate === "") {
      this.setDate = false;
    } else {
      this.setDate = true;
    }
  }

  validateGenderRadio(): boolean {
    const radios = document.getElementsByName("inlineRadioOptions");
    let formValid = false;
    var i = 0;
    while (!formValid && i < radios.length) {
      const a = radios[i] as HTMLInputElement;
      if (a.checked) {
        formValid = true;
      }
      i++;
    }
    return formValid;
  }

  changeRadioValue(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.localPersonalObj.gender = eTarget.value;
    this.validatorsObj.genderValueOnSubmit = true;
  }

  nameValidate(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.validatorsObj.nameValidateValueOnSubmit = true;
    this.localPersonalObj.firstname = eTarget.value;
    if (eTarget.value !== "") {
      if (validators.textValidator(eTarget.value)) {
        this.validatorsObj.nameValidateValue = true;
      } else {
        this.validatorsObj.nameValidateValue = false;
      }
    } else {
      this.validatorsObj.nameValidateValue = true;
    }
  }

  nameValidateOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.textValidator(value)) {
        this.validatorsObj.nameValidateValue = true;
      } else {
        this.validatorsObj.nameValidateValue = false;
      }
      return true;
    } else {
      this.validatorsObj.nameValidateValue = true;
      return false;
    }
  }

  lastNameValidate(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.validatorsObj.lastNameValidateValueOnSubmit = true;
    this.localPersonalObj.lastname = eTarget.value;
    if (eTarget.value !== "") {
      if (validators.lastNameValidator(eTarget.value)) {
        this.validatorsObj.lastNameValidateValue = true;
      } else {
        this.validatorsObj.lastNameValidateValue = false;
      }
    } else {
      this.validatorsObj.lastNameValidateValue = true;
    }
  }

  lastNameValidateOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.lastNameValidator(value)) {
        this.validatorsObj.lastNameValidateValue = true;
      } else {
        this.validatorsObj.lastNameValidateValue = false;
      }
      return true;
    } else {
      this.validatorsObj.lastNameValidateValue = true;
      return false;
    }
  }

  updateContactNumber(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.validatorsObj.contactValidateValueOnSubmit = true;
    this.localPersonalObj.contactnumber = eTarget.value;
    const newVal = this.localPersonalObj.contactnumber;
    if (eTarget.value !== "") {
      if (
        newVal === this.localPersonalObj.alternativenumber ||
        newVal === this.localPersonalObj.emrgycontactnumber1 ||
        newVal === this.localPersonalObj.emrgycontactnumber2
      ) {
        this.validatorsObj.contactNumberExist = true;
      } else {
        this.validatorsObj.contactNumberExist = false;
        this.validatorsObj.contactValidateValue = this.contactValidate(
          eTarget.value
        );
      }
    } else {
      this.validatorsObj.contactNumberExist = false;
      this.validatorsObj.contactValidateValue = true;
    }
  }

  updateContactNumberOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.numberValidator(value)) {
        this.validatorsObj.contactValidateValue = true;
      } else {
        this.validatorsObj.contactValidateValue = false;
      }
      return true;
    } else {
      this.validatorsObj.contactValidateValue = true;
      return false;
    }
  }

  updateAlternativeNumber(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.validatorsObj.alternateValidateValueOnSubmit = true;
    this.localPersonalObj.alternativenumber = eTarget.value;
    const newVal = this.localPersonalObj.alternativenumber;
    if (eTarget.value !== "") {
      if (
        newVal === this.localPersonalObj.contactnumber ||
        newVal === this.localPersonalObj.emrgycontactnumber1 ||
        newVal === this.localPersonalObj.emrgycontactnumber2
      ) {
        this.validatorsObj.alternateNumberExist = true;
      } else {
        this.validatorsObj.alternateNumberExist = false;
        this.validatorsObj.alternateValidateValue = this.contactValidate(
          eTarget.value
        );
      }
    } else {
      this.validatorsObj.alternateNumberExist = false;
      this.validatorsObj.alternateValidateValue = true;
    }
  }

  updateAlternateNumberOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.numberValidator(value)) {
        this.validatorsObj.alternateValidateValue = true;
      } else {
        this.validatorsObj.alternateValidateValue = false;
      }
      return true;
    } else {
      this.validatorsObj.alternateValidateValue = true;
      return false;
    }
  }

  updateEmergencyNumber1(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.validatorsObj.emergencyValidateValue1OnSubmit = true;
    this.localPersonalObj.emrgycontactnumber1 = eTarget.value;
    const newVal = this.localPersonalObj.emrgycontactnumber1;
    if (eTarget.value !== "") {
      if (
        newVal === this.localPersonalObj.contactnumber ||
        newVal === this.localPersonalObj.alternativenumber ||
        newVal === this.localPersonalObj.emrgycontactnumber2
      ) {
        this.validatorsObj.emergencyNumber1Exist = true;
      } else {
        this.validatorsObj.emergencyNumber1Exist = false;
        this.validatorsObj.emergencyValidateValue1 = this.contactValidate(
          eTarget.value
        );
      }
    } else {
      this.validatorsObj.emergencyNumber1Exist = false;
      this.validatorsObj.emergencyValidateValue1 = true;
    }
  }

  updateEmergencyNumber1OnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.numberValidator(value)) {
        this.validatorsObj.emergencyValidateValue1 = true;
      } else {
        this.validatorsObj.emergencyValidateValue1 = false;
      }
      return true;
    } else {
      this.validatorsObj.emergencyValidateValue1 = true;
      return false;
    }
  }

  updateEmergencyNumber2(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.localPersonalObj.emrgycontactnumber2 = eTarget.value;
    const newVal = this.localPersonalObj.emrgycontactnumber2;
    if (eTarget.value !== "") {
      if (
        newVal === this.localPersonalObj.contactnumber ||
        newVal === this.localPersonalObj.alternativenumber ||
        newVal === this.localPersonalObj.emrgycontactnumber1
      ) {
        this.validatorsObj.emergencyNumber2Exist = true;
      } else {
        this.validatorsObj.emergencyNumber2Exist = false;
        this.validatorsObj.emergencyValidateValue2 = this.contactValidate(
          eTarget.value
        );
      }
    } else {
      this.validatorsObj.emergencyNumber2Exist = false;
      this.validatorsObj.emergencyValidateValue2 = true;
    }
  }

  updateOfficeMail(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.validatorsObj.officialEmailValueOnSubmit = true;
    this.localPersonalObj.officemailid = eTarget.value;
    const newVal = this.localPersonalObj.officemailid;
    if (eTarget.value !== "") {
      if (newVal === this.localPersonalObj.personalmailid) {
        this.validatorsObj.officialEmailExist = true;
      } else {
        this.validatorsObj.officialEmailExist = false;
        this.validatorsObj.officialEmailValue = this.emailValidate(
          eTarget.value
        );
      }
    } else {
      this.validatorsObj.officialEmailExist = false;
      this.validatorsObj.officialEmailValue = true;
    }
  }

  mounted(): void {
    this.getPersonalInfo();
  }

  updateOfficeMailOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.emailValidator(value)) {
        this.validatorsObj.officialEmailValue = true;
      } else {
        this.validatorsObj.officialEmailValue = false;
      }
      return true;
    } else {
      this.validatorsObj.officialEmailValue = true;
      return false;
    }
  }

  updatePersonalMail(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.validatorsObj.personalEmailValueOnSubmit = true;
    this.localPersonalObj.personalmailid = eTarget.value;
    const newVal = this.localPersonalObj.personalmailid;
    if (eTarget.value !== "") {
      if (newVal === this.localPersonalObj.officemailid) {
        this.validatorsObj.personalEmailExist = true;
      } else {
        this.validatorsObj.personalEmailExist = false;
        this.validatorsObj.personalEmailValue = this.emailValidate(
          eTarget.value
        );
      }
    } else {
      this.validatorsObj.personalEmailExist = false;
      this.validatorsObj.personalEmailValue = true;
    }
  }

  updatePersonalMailOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.emailValidator(value)) {
        this.validatorsObj.personalEmailValue = true;
      } else {
        this.validatorsObj.personalEmailValue = false;
      }
      return true;
    } else {
      this.validatorsObj.personalEmailValue = true;
      return false;
    }
  }

  updateEmpID(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.validatorsObj.empIDValueOnSubmit = true;
    this.localPersonalObj.employeeid = eTarget.value;
    if (eTarget.value !== "") {
      if (validators.empIDValidator(eTarget.value)) {
        this.validatorsObj.empIDValue = true;
      } else {
        this.validatorsObj.empIDValue = false;
      }
    } else {
      this.validatorsObj.empIDValue = true;
    }
  }
  updateEmpIDOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.empIDValidator(value)) {
        this.validatorsObj.empIDValue = true;
      } else {
        this.validatorsObj.empIDValue = false;
      }
      return true;
    } else {
      this.validatorsObj.empIDValue = true;
      return false;
    }
  }

  updateDesignation(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.validatorsObj.designationValueOnSubmit = true;
    this.localPersonalObj.designation = eTarget.value;
    if (eTarget.value !== "") {
      if (validators.textValidator(eTarget.value)) {
        this.validatorsObj.designationValue = true;
      } else {
        this.validatorsObj.designationValue = false;
      }
    } else {
      this.validatorsObj.designationValue = true;
    }
  }
  updateDesignationOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.textValidator(value)) {
        this.validatorsObj.designationValue = true;
      } else {
        this.validatorsObj.designationValue = false;
      }
      return true;
    } else {
      this.validatorsObj.designationValue = true;
      return false;
    }
  }

  emailValidate(value: string): boolean {
    if (validators.emailValidator(value)) {
      return true;
    } else {
      return false;
    }
  }

  contactValidate(value: string): boolean {
    if (validators.numberValidator(value)) {
      return true;
    } else {
      return false;
    }
  }

  updatePermanentAddr(e: Event): void {
    const eTarget = e.target as HTMLTextAreaElement;
    this.localPersonalObj.permanentaddrs = eTarget.value;
    this.validatorsObj.permanentAddrOnSubmit = true;
  }

  updatePermanentAddrOnSubmit(value: string): boolean {
    if (value !== "") {
      return true;
    } else {
      return false;
    }
  }

  validatetotalExpYear(e: Event): void {
    const eTarget = e.target as HTMLSelectElement;
    this.totalYsize = 0;
    if (eTarget.value !== "") {
      this.localTotalExp.year = eTarget.value;
    } else {
      this.localTotalExp.year = eTarget.value;
    }
  }

  validatetotalExpMonth(e: Event): void {
    const eTarget = e.target as HTMLSelectElement;
    this.totalMsize = 0;
    if (eTarget.value !== "") {
      this.localTotalExp.month = eTarget.value;
    } else {
      this.localTotalExp.month = eTarget.value;
    }
  }

  validateRelExpYear(e: Event): void {
    const eTarget = e.target as HTMLSelectElement;
    this.relYsize = 0;
    if (eTarget.value !== "") {
      this.localRelExp.year = eTarget.value;
    } else {
      this.localRelExp.year = eTarget.value;
    }
  }

  validateRelExpMonth(e: Event): void {
    const eTarget = e.target as HTMLSelectElement;
    this.relMsize = 0;
    if (eTarget.value !== "") {
      this.localRelExp.month = eTarget.value;
    } else {
      this.localRelExp.month = eTarget.value;
    }
  }

  updateTempAddr(e: Event): void {
    const eTarget = e.target as HTMLTextAreaElement;
    this.localPersonalObj.temporaryaddrs = eTarget.value;
    this.validatorsObj.tempAddrOnSubmit = true;
  }

  updateTempAddrOnSubmit(value: string): boolean {
    if (value !== "") {
      return true;
    } else {
      return false;
    }
  }

  updateSummaryOnSubmit(value: string): boolean {
    if (value !== "") {
      return true;
    } else {
      return false;
    }
  }
}
</script>
<style scoped>
select option {
  color: black;
}
select option[disabled]:first-child {
  color: #80808082;
}
/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}

.grid {
  width: 550px;
  height: 92px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gridAddress {
  resize: none;
  width: 250px;
  height: 156px;
  border: 1px solid gray;
  border-radius: 8px;
}
.eidClass {
  height: 40px;
  width: 250px;
  border: 1px solid gray;
  border-radius: 8px;
}
.alignCenter {
  display: flex;
  align-items: center;
  height: 40px;
}
.inputClass {
  visibility: hidden;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: black;
  color: white;
  width: 150px;
  margin-left: -50px;
  border-radius: 7px;
}
.submitButtonStyle {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #42b983;
  color: white;
  width: 150px;
  margin-left: -50px;
  border-radius: 7px;
}
::placeholder {
  opacity: 0.4;
}
.invalidClass {
  margin-top: 2px;
  font-size: 10px;
  color: red;
  float: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.labelStyle {
  float: left;
  margin-bottom: 0px;
  font-size: 12px;
}

.outer {
  width: max-content;
}

.cardBorder {
  border: none;
}

.body-style {
  padding-left: 75px;
}

.editIconClass {
  float: right;
  position: relative;
  top: -118px;
  cursor: pointer;
}

.addrClass {
  height: 200px;
}

.outerDrpdwnDivClass {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -6px;
  height: 60px;
}

.innerDrpdwnDivClass {
  display: grid;
  grid-template-rows: 20px 40px;
}

.labelClass {
  font-size: 12px;
  text-align: left;
}

.invalidColor {
  color: red;
}

.labelTotalMonthStyle {
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
}

.outerRelYClass {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -18px;
}

.innerRelYClass {
  display: grid;
  grid-template-rows: 20px 40px;
}

.labelRelYClass {
  font-size: 12px;
  text-align: left;
}

.submitSpanClass {
  margin-left: 14px;
}

.labelForSubmit {
  font-size: 12px;
  color: gray;
}

.optionWidth {
  width: 110px;
}

.relMOuterClass {
  display: grid;
  grid-template-rows: 20px 40px;
}

.relMInnerClass {
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
}

.outerGenderClass {
  display: grid;
  grid-template-rows: 18px 1fr;
}

.labelGenderClass {
  text-align: left;
}

.genderValueLabel {
  opacity: 0.4;
}

.btnOutline:focus {
  outline: none;
}

.relExpClass {
  margin-top: -12px;
}
</style>
