<template>
  <div
    :style="popUpStyleObj"
    class="modal outerDiv"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog-centered modal-dialog dialogDiv"
      role="document"
    >
      <div
        class="modal-content modalContentDiv"
        :style="modalContentStyleObj"
      >
        <div class="modal-header modalHeaderDiv" ><img src="../assets/success.png" alt="" class="imgClass"></div>
        <div class="modal-body modalBodyDiv">
          <div
            class="profile profileDiv"
          >
            <h5>{{ message }}</h5>
          </div>
          <div class="widthDivClass"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Emit, Watch } from "vue-property-decorator/lib";
import { Options, Vue } from "vue-class-component";
import { EventBus } from "@/event-bus";
@Options({
  components: {},
})
export default class PopUp extends Vue {
  type = "";
  message = "";
  show = false;

  get popUpStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      display: this.show ? "block" : "none",
    };
  }
  mounted(): void {
    EventBus.on("setPopUp", ({ showPopUp, type, message }) => {
      this.show = showPopUp;
      this.type = type;
      this.message = message;
    });
  }

  @Watch("show")
  onShow():void {
    if (this.show) {
      setTimeout(() => {
        this.show = false;
      }, 2000);
    }
  }

  @Emit("closeMessagePopUp")
  closeMessagePopUp(): boolean {
    return false;
  }

  get modalContentStyleObj(): Partial<CSSStyleDeclaration> {
    return { background: this.type === 'success' ? 'lightgreen' : 'red' }
  }
}
</script>
<style scoped>
.outerDiv {
  background: rgb(0, 37, 77, 0.6);
}

.dialogDiv {
  max-width: 484px; display: flex; justify-content: center;
}

.modalContentDiv {
  border-radius: 31px; width: 165px; height: 100px;
}

.modalHeaderDiv {
  border: none; display: flex; justify-content: center;position: relative; top: -39px;
}

.imgClass {
  border-radius: 50%; height: 45px;
}

.modalBodyDiv {
  position: relative; top: -68px;
}

.profileDiv {
  width: 80px;
  height: 80px;
  position: relative;
  top: 13px;
  display: contents;
  font-weight: black;
}

.widthDivClass {
  width: 400px;
}
</style>