<template>
  <div
    class="modal outerDiv"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog-centered modal-dialog dialogDiv" role="document">
      <div class="modal-content modalContentClass">
        <div class="modal-header modalHeaderFooter">
          <h5 class="modal-title titleStyle" id="exampleModalLabel">Profile</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="closeModal()"
          >
            <span aria-hidden="true" class="timesClass">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="profile profileDiv">
            <img src="../assets/noimage.png" class="imgProfileClass" />
            <label class="custom-file-upload">
              <input type="file" class="inputClassObj" accept="image/*" />
              <font-awesome-icon icon="camera" class="upload-button" />
            </label>
          </div>
          <div class="formFieldDivClass">
            <p class="formfield formFieldClass">
              <label class="col-5" :style="labelStyle">First Name: </label
              ><textarea
                class="form-control customTextareaStyle col-7"
                id="exampleFormControlTextarea1"
                v-model="localPersonalObj.firstname"
                @change="nameValidate($event)"
              ></textarea>
              <span v-if="!nameValidateValue" class="invalidClass"
                >First Name must contain minimum of 3 character and accepts only
                Alphabets</span
              >
              <span v-else-if="!nameValidateValueOnSubmit" class="invalidClass"
                >First Name is required*</span
              >
            </p>
            <p class="formfield formFieldClass">
              <label class="col-5" :style="labelStyle">Last Name: </label
              ><textarea
                class="form-control customTextareaStyle col-7"
                id="exampleFormControlTextarea1"
                v-model="localPersonalObj.lastname"
                @change="lastNameValidate($event)"
              ></textarea>
              <span v-if="!lastNameValidateValue" class="invalidClass"
                >Last Name accepts only Alphabets</span
              >
              <span
                v-else-if="!lastNameValidateValueOnSubmit"
                class="invalidClass"
                >Last Name field is required*</span
              >
            </p>
            <p class="formfield formFieldClass">
              <label class="col-5" :style="labelStyle">Designation: </label
              ><textarea
                class="form-control customTextareaStyle col-7"
                id="exampleFormControlTextarea1"
                v-model="localPersonalObj.designation"
                @change="updateDesignation"
              ></textarea>
              <span v-if="!designationValue" class="invalidClass"
                >Designation accepts only Alphabets</span
              >
              <span v-if="!designationValueOnSubmit" class="invalidClass"
                >Designation field is required*</span
              >
            </p>
            <p class="formfield formFieldClass">
              <label class="col-5" :style="labelStyle">Phone No.: </label
              ><textarea
                class="form-control customTextareaStyle col-7"
                id="exampleFormControlTextarea1"
                v-model="localPersonalObj.contactnumber"
                @change="updateContactNumber"
              ></textarea>
              <span v-if="!contactValidateValue" class="invalidClass"
                >Contact number must contain 10 digits*</span
              >
              <span v-else-if="contactNumberExist" class="invalidClass"
                >Number already exist in other field*</span
              >
              <span
                v-else-if="!contactValidateValueOnSubmit"
                class="invalidClass"
                >Contact number field is required*</span
              >
            </p>
            <p class="formfield formFieldClass">
              <label class="col-5" :style="labelStyle">Email Address: </label
              ><textarea
                class="form-control customTextareaStyle col-7"
                id="exampleFormControlTextarea1"
                v-model="localPersonalObj.officemailid"
                @change="updateOfficeMail"
              ></textarea>
              <span v-if="!officialEmailValue" class="invalidClass"
                >Email address must contain @ and must not end with special
                character*</span
              >
              <span v-else-if="officialEmailExist" class="invalidClass"
                >Email already exists*</span
              >
              <span v-else-if="!officialEmailValueOnSubmit" class="invalidClass"
                >Official email is required*</span
              >
            </p>
          </div>
        </div>
        <div class="modal-footer modalHeaderFooter">
          <button
            type="button"
            class="btn btn-primary updateButtonStyle"
            @click="handleUpdate"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Emit } from "vue-property-decorator";
import { Options, Vue } from "vue-class-component";
import LabelWithTextAreaForEdit from "../components/molecules/LabelWithTextAreaForEdit.vue";
import { EventBus } from "@/event-bus";
import { HTTP } from "@/http/http-common";
import { validators } from "@/validators/validators";
import { State, Action } from "vuex-class";

interface ILocalPersonalObj {
  employeeid: string;
  designation: string;
  firstname: string;
  lastname: string;
  gender: string;
  joiningdate: string;
  contactnumber: string;
  alternativenumber: string;
  emrgycontactnumber1: string;
  emrgycontactnumber2: string;
  officemailid: string;
  personalmailid: string;
  permanentaddrs: string;
  temporaryaddrs: string;
  resume: string;
}
@Options({
  components: {
    LabelWithTextAreaForEdit,
  },
})
export default class ProfileEdit extends Vue {
  @State((state) => state.loading) loading;
  @Action("updateLoading") updateLoading;
  nameValidateValue = true;
  nameValidateValueOnSubmit = true;
  lastNameValidateValue = true;
  lastNameValidateValueOnSubmit = true;
  designationValue = true;
  designationValueOnSubmit = true;
  contactValidateValue = true;
  contactValidateValueOnSubmit = true;
  officialEmailValue = true;
  officialEmailValueOnSubmit = true;
  contactNumberExist = false;
  officialEmailExist = false;
  localPersonalObj = {
    employeeid: "",
    designation: "",
    firstname: "",
    lastname: "",
    gender: "",
    joiningdate: "",
    contactnumber: "",
    alternativenumber: "",
    emrgycontactnumber1: "",
    emrgycontactnumber2: "",
    officemailid: "",
    personalmailid: "",
    permanentaddrs: "",
    temporaryaddrs: "",
    resume: "",
  };

  @Emit("closeModal")
  closeModal(): boolean {
    return false;
  }
  get labelStyle(): Partial<CSSStyleDeclaration> {
    return {
      textAlign: "end",
      color: "rgb(0, 123, 255)",
    };
  }

  handleUpdate(): void {
    const data = this.localPersonalObj;
    this.nameValidateValueOnSubmit = this.nameValidateOnSubmit(data.firstname);
    this.lastNameValidateValueOnSubmit = this.lastNameValidateOnSubmit(
      data.lastname
    );
    this.designationValueOnSubmit = this.updateDesignationOnSubmit(
      data.designation
    );
    this.contactValidateValueOnSubmit = this.updateContactNumberOnSubmit(
      data.contactnumber
    );
    this.officialEmailValueOnSubmit = this.updateOfficeMailOnSubmit(
      this.localPersonalObj.officemailid
    );
    if (
      this.nameValidateValueOnSubmit &&
      this.nameValidateValue &&
      this.lastNameValidateValue &&
      this.lastNameValidateValueOnSubmit &&
      this.designationValue &&
      this.designationValueOnSubmit &&
      this.contactValidateValueOnSubmit &&
      this.contactValidateValue &&
      this.officialEmailValue &&
      this.officialEmailValueOnSubmit
    ) {
      this.updateProfile(data);
      this.closeModal();
    }
  }

  async updateProfile(data: ILocalPersonalObj): Promise<void> {
    try {
      this.updateLoading({
        value: true,
      });
      const response = await HTTP.post(
        "personaldetails",
        this.localPersonalObj
      );
      this.updateLoading({
          value: false,
        });
      if (!response.data.error) {
        this.emitProfileData(data);
        EventBus.emit("setPopUp", {
          showPopUp: true,
          type: "success",
          message: "Saved Successfully",
        });
      }
    } catch (err) {
      console.log("Error", err);
      this.updateLoading({
        value: false,
      });
    }
  }

  nameValidate(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.nameValidateValueOnSubmit = true;
    this.localPersonalObj.firstname = eTarget.value;
    if (eTarget.value !== "") {
      if (validators.nameValidator(eTarget.value)) {
        this.nameValidateValue = true;
      } else {
        this.nameValidateValue = false;
      }
    } else {
      this.nameValidateValue = true;
    }
  }

  nameValidateOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.nameValidator(value)) {
        this.nameValidateValue = true;
      } else {
        this.nameValidateValue = false;
      }
      return true;
    } else {
      this.nameValidateValue = true;
      return false;
    }
  }

  lastNameValidate(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.lastNameValidateValueOnSubmit = true;
    this.localPersonalObj.lastname = eTarget.value;
    if (eTarget.value !== "") {
      if (validators.lastNameValidator(eTarget.value)) {
        this.lastNameValidateValue = true;
      } else {
        this.lastNameValidateValue = false;
      }
    } else {
      this.lastNameValidateValue = true;
    }
  }

  lastNameValidateOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.lastNameValidator(value)) {
        this.lastNameValidateValue = true;
      } else {
        this.lastNameValidateValue = false;
      }
      return true;
    } else {
      this.lastNameValidateValue = true;
      return false;
    }
  }

  updateDesignation(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.designationValueOnSubmit = true;
    this.localPersonalObj.designation = eTarget.value;
    if (eTarget.value !== "") {
      if (validators.nameValidator(eTarget.value)) {
        this.designationValue = true;
      } else {
        this.designationValue = false;
      }
    } else {
      this.designationValue = true;
    }
  }
  updateDesignationOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.nameValidator(value)) {
        this.designationValue = true;
      } else {
        this.designationValue = false;
      }
      return true;
    } else {
      this.designationValue = true;
      return false;
    }
  }

  updateContactNumber(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.contactValidateValueOnSubmit = true;
    this.localPersonalObj.contactnumber = eTarget.value;
    const newVal = this.localPersonalObj.contactnumber;
    if (eTarget.value !== "") {
      if (
        newVal === this.localPersonalObj.alternativenumber ||
        newVal === this.localPersonalObj.emrgycontactnumber1 ||
        newVal === this.localPersonalObj.emrgycontactnumber2
      ) {
        this.contactNumberExist = true;
      } else {
        this.contactNumberExist = false;
        this.contactValidateValue = this.contactValidate(eTarget.value);
      }
    } else {
      this.contactNumberExist = false;
      this.contactValidateValue = true;
    }
  }

  updateContactNumberOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.numberValidator(value)) {
        this.contactValidateValue = true;
      } else {
        this.contactValidateValue = false;
      }
      return true;
    } else {
      this.contactValidateValue = true;
      return false;
    }
  }

  updateOfficeMail(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.officialEmailValueOnSubmit = true;
    this.localPersonalObj.officemailid = eTarget.value;
    const newVal = this.localPersonalObj.officemailid;
    if (eTarget.value !== "") {
      if (newVal === this.localPersonalObj.personalmailid) {
        this.officialEmailExist = true;
      } else {
        this.officialEmailExist = false;
        this.officialEmailValue = this.emailValidate(eTarget.value);
      }
    } else {
      this.officialEmailExist = false;
      this.officialEmailValue = true;
    }
  }

  updateOfficeMailOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.emailValidator(value)) {
        this.officialEmailValue = true;
      } else {
        this.officialEmailValue = false;
      }
      return true;
    } else {
      this.officialEmailValue = true;
      return false;
    }
  }

  contactValidate(value: string): boolean {
    if (validators.numberValidator(value)) {
      return true;
    } else {
      return false;
    }
  }

  emailValidate(value: string): boolean {
    if (validators.emailValidator(value)) {
      return true;
    } else {
      return false;
    }
  }

  @Emit("emitProfileData")
  emitProfileData(val: ILocalPersonalObj): ILocalPersonalObj {
    return val;
  }

  mounted(): void {
    EventBus.on("profileData", (data) => {
      this.localPersonalObj = { ...data };
    });
  }
}
</script>

<style scoped>
.modal-body {
  max-height: 400px;
  overflow: auto;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  width: 0px;
  height: 0px;
  position: relative;
  top: 20px;
  left: -16px;
}
.profile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.inputClass {
  border: 1px solid lightgray;
  border-radius: 6px;
}
.titleStyle {
  font-weight: bold;
  color: rgb(0, 123, 255);
  position: relative;
  left: 180px;
  font-size: 30px;
}
.updateButtonStyle {
  border-radius: 30px;
  width: 100px;
}

/* New */
.formfield * {
  vertical-align: middle;
  width: 500px;
  margin-bottom: 0px;
}
.customTextareaStyle {
  display: inline !important;
}
textarea {
  resize: none;
  height: 38px !important;
}
.invalidClass {
  margin-top: 2px;
  font-size: 10px;
  color: red;
  float: right;
  width: 232px;
  text-align: left;
}
.modalHeaderFooter {
  border: none;
}
.outerDiv {
  background: rgb(0, 37, 77, 0.6);
}
.dialogDiv {
  max-width: 484px;
}
.modalContentClass {
  border-radius: 31px;
}
.timesClass {
  color: rgb(0, 123, 255);
  font-weight: lighter;
}
.profileDiv {
  width: 80px;
  height: 80px;
  position: relative;
  top: 13px;
  display: contents;
}
.formFieldClass {
  margin-bottom: 0px;
  height: 70px;
}
.formFieldDivClass {
  width: 400px;
  margin-top: 27px;
}
.imgProfileClass {
  width: 80px;
  height: 80px;
}
.inputClassObj {
  display: none;
}
</style>
