<template>
  <div>
    <div class="col-md-5 col-sm-5 col-lg-5 container mt-2">
      <div>
        <label class="labelStyle">Select your stack</label>
        <CustomSelect
          :data="stackDetails"
          placeHolder="Select Your Stack"
          @emitSelectedOptVal="emitSelectedOptVal"
          :value="localSkillData.stack"
        />
        <br />
        <div
          :style="{ display: localSkillData.stack !== '' ? 'block' : 'none' }"
        >
          <CustomDiv
            v-for="getColumn in localskillArray"
            :key="getColumn.heading"
            :placeholder="getColumn.heading"
            :items="getItems(getColumn.heading)"
            :skills="getColumn.data"
            :type="getColumn.heading"
            @addItemObj="(obj) => addItemObj(obj, getColumn.heading)"
            @deleteItemObj="(skill) => deleteItemObj(skill, getColumn.heading)"
            @updateRating="(obj) => updateRating(obj, getColumn.heading)"
            @emitInputValue="(val) => updateInputValue(val, getColumn.heading)"
            :errMessage="errmsgObj"
          />
        </div>
        <div class="d-flex">
          <button class="btn submit ml-auto px-5" @click="updateData">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomRating from "@/components/atoms/CustomRatings.vue";
import CustomDiv from "@/components/atoms/CustomDiv.vue";
import { skillData } from "@/models/SkillData";
import { skillArray, techErrObj } from "@/models/Skills";
import CustomSelect from "@/components/atoms/CustomSelect.vue";
import { Stack } from "@/models/Stack";
import { State, Action } from "vuex-class";
import { EventBus } from "@/event-bus";
import { HTTP } from "@/http/http-common";
interface ISkillArray {
  stack: string;
  skills: Array<ISkillObj>;
}
interface ISkillObj {
  type: string;
  items: Array<ISkillItem>;
}
interface ISkillItem {
  skillName: string;
  ratings: number;
}
interface ISubSkillObj {
  skillName: string;
  ratings: number;
}
@Options({
  components: {
    CustomRating,
    CustomDiv,
    CustomSelect,
  },
})
export default class Technology extends Vue {
  @State((state) => state.employeeid) employeeid;
  @State((state) => state.loading) loading;
  @Action("updateLoading") updateLoading;

  localSkillData: ISkillArray = skillData;
  localskillArray = skillArray;
  stackDetails = Stack;
  mounted(): void {
    this.getTechnologyInfo();
  }

  errmsgObj = JSON.parse(JSON.stringify(techErrObj));

  async getTechnologyInfo(): Promise<void> {
    try {
      this.updateLoading({
        value: true,
      });
      const res = await HTTP.get(
        `getemployeeskills?employeeid=${this.employeeid}`
      );
      this.updateLoading({
        value: false,
      });
      const data = await res.data;
      if (!data.error) {
        this.localSkillData = data.data;
      }
    } catch (err) {
      this.updateLoading({
        value: false,
      });
      console.log("error", err);
    }
  }
  getIndex(type: string): number {
    const findIndex = this.errmsgObj.findIndex((val) => val.heading === type);
    return findIndex;
  }
  addItemObj(obj: ISubSkillObj, type: string): void {
    this.errmsgObj[this.getIndex(type)].errMsg = "";
    if (obj.skillName.indexOf(",") === -1) {
      const findIndex = this.getMainSkillIndex(type);
      if (findIndex !== -1) {
        this.localSkillData.skills[findIndex].items.push(obj);
      } else {
        const newObj = {
          type: type,
          items: [{ ...obj }],
        };
        this.localSkillData.skills.push(newObj);
      }
    } else {
      this.errmsgObj[this.getIndex(type)].errMsg = "comma is not allowed";
    }
  }
  updateInputValue(value: string, type: string): void {
    const findIndex = this.errmsgObj.findIndex((val) => val.heading === type);
    if (value.indexOf(",") === -1) {
      this.errmsgObj[findIndex].errMsg = "";
    } else {
      console.log("entered");
      this.errmsgObj[findIndex].errMsg = "Comma is not allowed";
    }
  }
  deleteItemObj(skill: string, type: string): void {
    const findIndex = this.getMainSkillIndex(type);
    const skillIndex = this.localSkillData.skills[findIndex].items.findIndex(
      (val) => val.skillName === skill
    );
    this.localSkillData.skills[findIndex].items.splice(skillIndex, 1);
  }
  updateRating(obj: ISkillItem, type: string): void {
    const findIndex = this.getMainSkillIndex(type);
    const skillIndex = this.localSkillData.skills[findIndex].items.findIndex(
      (val) => val.skillName === obj.skillName
    );
    this.localSkillData.skills[findIndex].items[skillIndex].ratings =
      obj.ratings;
  }
  getMainSkillIndex(type: string): number {
    if (this.localSkillData && this.localSkillData.skills) {
      return this.localSkillData.skills.findIndex((val) => val.type === type);
    } else {
      return -1;
    }
  }
  getItems(type: string): Array<ISkillItem> {
    const findIndex = this.getMainSkillIndex(type);
    if (findIndex !== -1) {
      return this.localSkillData.skills[findIndex].items;
    } else {
      return [];
    }
  }
  emitSelectedOptVal(val: string): void {
    this.localSkillData.stack = val;
  }
  get getValidation(): boolean {
    let isErrPresent = false;
    for (const iterator of this.errmsgObj) {
      if (iterator.errMsg !== "") {
        isErrPresent = true;
        break;
      }
    }
    return isErrPresent;
  }

  async updateData(): Promise<void> {
    if (this.getValidation === false) {
      try {
        this.updateLoading({
          value: true,
        });
        const response = await HTTP.post(
          `updateemployeeskill?employeeid=${this.employeeid}`,
          this.localSkillData
        );
        this.updateLoading({
          value: false,
        });
        if (!response.data.error) {
          EventBus.emit("setPopUp", {
            showPopUp: true,
            type: "success",
            message: "Saved Successfully",
          });
        }
      } catch (err) {
        console.log("Error", err);
        this.updateLoading({
          value: false,
        });
      }
    }
  }
}
</script>
<style scoped>
.submit {
  background-color: rgb(69, 186, 130);
  color: white;
  font-weight: 400;
}
.labelStyle {
  float: left;
  margin-bottom: 0px;
  font-size: 12px;
}
</style>