<template>
  <span class="rating1 d-inline-flex offset-md-3">
    <span :id="ratingId">
      <img
        v-if="active"
        src="../../assets/filledStar.png"
        :width="width"
        :height="height"
        :id="ratingId"
      />
      <img
        v-else
        src="../../assets/star.png"
        :width="width"
        :height="height"
        :id="ratingId"
      />
    </span>
  </span>
</template>
<script lang="ts">
import { Emit } from "vue-property-decorator";
import { Options, Vue } from "vue-class-component";
@Options({
  props: {
    eleID: String,
    num: Number,
    ratingId: Number,
    active: Boolean,
    width: Number,
    height: Number,
    conditionEvent: String,
  },
})
export default class CustomRating extends Vue {
  ratingId!: number;
  @Emit("getRating")
  getRating(): void {
    return;
  }
}
</script>
<style scoped>
.rating1 {
  display: inline-flex;
  justify-content: center;
  margin-left: 5px;
}
.rating1 :hover {
  cursor: pointer !important;
}

.rating1 > input {
  display: none;
}

.rating1 > label {
  position: relative;
  width: 1em;
  font-size: 2vw;
  color: black;
  cursor: pointer;
  border-radius: 800;
}
</style>