<template>
  <div class="my-4 px-2 border border-gray-200">
    <div
      class="d-flex justify-content-between align-items-center cursor-pointer my-2"
    >
      <button class="text-xs btn w-100 mr-2" @click="showDropdown()">
        Add {{ addValue }}
        <template v-if="showDrop">
          <font-awesome-icon icon="angle-up" class="pointer" />
        </template>
        <template v-else>
          <font-awesome-icon icon="angle-down" class="pointer" />
        </template>
      </button>
      <button type="button" class="btn btn-dark btn-sm" @click="addToList()">
        <font-awesome-icon icon="plus" class="pointer" title="Add" />
        <span class="text-sm"></span>
      </button>
    </div>
    <div class="mt-6 p-2" v-if="showDrop">
      <div>
        <label class="text-uppercase text-xs"><small>Title</small></label
        ><input
          class="form-control"
          type="text"
          :placeholder="addValue"
          v-model="inputText"
          @input="validateField()"
        /><small class="my-3">For ex: {{ example }}</small>
        <span v-if="errMsg" class="errormsg">{{ errMsg }}</span>
      </div>
      <div class="d-flex flex-column"></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { State } from "vuex-class";
import { validators } from "@/validators/validators";

@Options({
  props: {
    addValue: String,
    example: String,
    listType: String,
  },
})
export default class CustomAdd extends Vue {
  @State((state) => state.showList) showList;
  @State((state) => state.employeeData) employeeData;
  @State((state) => state.summaryList) summaryList;

  addValue!: string;
  listType!: string;
  dropDownList: Array<{ id: number; item: string }> = [];
  inputText = "";
  showDrop = false;
  errMsg = "";

  showDropdown(): void {
    this.showDrop = !this.showDrop;
  }

  addToList(): void {
    if (this.inputText === "") {
      this.validateField();
    } else {
      if (this.listType === "technologyDetails") {
        this.employeeData.technologydetails.skills.forEach((ele) => {
          if (ele.type === this.addValue) {
            ele.items.push({ skillName: this.inputText, rating: 0 });
          }
        });
      }
      if (this.listType === "Achievements") {
        const emp = this.employeeData.personaldetails.employeeid;
        this.employeeData.achievementdetails.push({
          employee_id: emp,
          achievement_id: Math.random(),
          achievement_details: this.inputText,
        });
      }
      if (this.listType === "Summary") {
        this.summaryList.push(this.inputText);
      }
    }

    this.inputText = "";
  }
  validateField(): void {
    if (validators.fieldValidator(this.inputText)) {
      this.errMsg = "";
    } else {
      this.showDrop = true;
      this.errMsg = `${this.addValue} cannont be empty`;
    }
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}

.text-xs {
  font-size: 0.875rem;
}
.errormsg {
  font-size: 10px;
  color: red;
  display: flex;
}
</style>