<template>
  <div
    class="my-4 border border-gray-200 text-left"
    v-for="(edu, index) in employeeData.educationaldetails"
    :key="edu.educationalid"
  >
    <div class="text-center align-items-center my-2 mx-2 row">
      <input
        type="checkbox"
        class="form-check col-2 my-2"
        v-model="showEdu[index]"
      />
      <div class="col-8 p-0">
        <button
          class="text-small btn"
          :tabindex="index"
          @click="setDropdown(index)"
        >
          {{ edu.insitution }}
          <template v-if="showDrop[index]">
            <font-awesome-icon icon="angle-down" class="pointer" />
          </template>
          <template v-else>
            <font-awesome-icon icon="angle-up" class="pointer" />
          </template>
        </button>
      </div>
      <div class="col-1 p-0">
        <button class="btn" @click="deleteEdu(edu.educationalid)">
          <font-awesome-icon icon="times" class="pointer" title="Delete" />
        </button>
      </div>
    </div>
    <div class="mt-6 p-2" v-if="showDrop[index]">
      <div>
        <div class="d-flex flex-column mb-6">
          <label class="my-2 text-uppercase text-xs"
            ><small class="my-1">Qualification</small></label
          ><input
            class="form-control"
            type="text"
            placeholder="PUC"
            v-model="edu.qualification"
          /><small class="my-1">For ex: PUC</small>
        </div>
        <div class="d-flex flex-column mb-6">
          <label class="my-2 text-uppercase text-xs"
            ><small class="my-1">Course</small></label
          ><input
            class="form-control"
            type="text"
            placeholder="PCMB"
            v-model="edu.course"
          /><small class="my-1">For ex: PCMB</small>
        </div>
        <div class="d-flex flex-column mb-6">
          <label class="my-2 text-uppercase text-xs"
            ><small class="my-1">Specialization</small></label
          ><input
            class="form-control"
            type="text"
            placeholder="ML"
            v-model="edu.specialization"
          /><small class="my-1">For ex: ML</small>
        </div>
        <div class="my-2 d-flex flex-column mb-6">
          <label class="text-uppercase text-xs">College Name</label
          ><input
            type="text"
            class="form-control"
            placeholder="College Name"
            v-model="edu.insitution"
          /><small class="my-1">For ex: RV College</small>
        </div>
        <div>
          <label class="my-2">University</label
          ><input
            type="text"
            placeholder="University"
            v-model="uni"
            @input="handleUni()"
            class="form-control"
          /><small class="my-1">For ex: VTU, Belgavi</small>
        </div>
        <div>
          <label class="my-2">Pass out Year</label
          ><input
            type="number"
            placeholder="2012"
            v-model="edu.passoutyear"
            class="form-control"
          /><small class="my-1">For ex: 2020</small>
        </div>
        <div>
          <label class="my-2">Percentage</label
          ><input
            type="number"
            placeholder="90"
            v-model="edu.percentage"
            class="form-control"
          /><small class="my-1">For ex: 90</small>
        </div>
      </div>
      <hr class="my-6" />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-class-component";
import { State, Action } from "vuex-class";

export default class CustomDisplayEdu extends Vue {
  @State((state) => state.employeeData) employeeData;
  @State((state) => state.showEduItems) showEduItems;
  @State((state) => state.university) university;
  @State((state) => state.display) display;
  @Action("updateUniversity") updateUniversityAction;
  @Action("updateShowEduItems") updateShowEduItems;

  showDrop: boolean[] = [];
  showEdu: boolean[] = [];
  uni = "";

  created(): void {
    this.employeeData.educationaldetails.forEach(() => {
      this.showEdu.push(true);
      this.showDrop.push(false);
    });
    this.updateShowEduItems({
      type: "updateShowEduItems",
      value: this.showEdu,
    });
    this.display.dispEdu = false;
  }

  updated(): void {
    const eduLen = this.employeeData.educationaldetails.length;
    for (let i = 1; i <= eduLen - this.showEdu.length; i++) {
      this.showDrop.push(false);
      this.showEdu.push(true);
    }
    this.updateShowEduItems({
      type: "showEduItems",
      value: this.showEdu,
    });
  }

  setDropdown(index: number): void {
    this.showDrop[index] = !this.showDrop[index];
  }

  deleteEdu(id: number): void {
    this.employeeData.educationaldetails = this.employeeData.educationaldetails.filter(
      (ele) => {
        return ele.educationalid !== id;
      }
    );
  }

  handleUni(): void {
    this.updateUniversityAction({
      type: "updateUniversity",
      value: this.uni,
    });
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
.text-small {
  font-size: 0.875rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
</style>