<template>
  <p class="formfield">
    <CustomTextArea class="customTextareaStyle col-9" :rowSize="rowSize" style="border: 1px solid gray; border-radius: 8px" :placeholder='placeholder'/>
  </p>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomTextArea from "@/components/atoms/CustomTextArea.vue";

@Options({
  components: {
    CustomTextArea,
  },
  props: {
    text: String,
    rowSize: Number,
    placeholder:String,
  },
})
export default class LabelWithTextArea extends Vue {
  get labelStyle(): Partial<CSSStyleDeclaration> {
    return {
      textAlign: "end",
    };
  }
}
</script>

<style scoped>
.formfield * {
  vertical-align: middle;
  width: 500px;
}
.customTextareaStyle {
  display: inline !important;
}
</style>
