<template>
  <div id="base">
    <NavBar />
    <div class="innerContainer">
      <div class="card card-body mt-3 mx-3 backpage">
        <SubNavBar v-if="isValidPath"/>
        <router-view></router-view>
        <PopUp />
        <Loading />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import NavBar from "@/components/NavBar.vue";
import SubNavBar from "@/components/SubNavBar.vue";
import HomePage from "@/components/HomePage.vue";
import PopUp from "@/components/PopUp.vue";
import Loading from "@/components/Loading.vue";


@Options({
  components: {
    NavBar,
    SubNavBar,
    HomePage,
    PopUp,
    Loading
  },
  props: {
    myProp: String
  }
})
export default class App extends Vue {
  myProp!: string
  get isValidPath(): boolean {
     return this.$route.name !== 'HomePage'
  }
  mounted(): void {
    console.log('myProp', this.myProp)
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #e1e2e4a1;
}
#main {
  background-color: #e1e2e4a1;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.card-body {
  border: 1px solid white;
  border-radius: 10px !important;
  padding-top: 3rem !important;
  margin-bottom: 1rem !important;
}

.innerContainer {
  padding: 0; 
  margin: 0;
}
.footer {
  background-color: #e1e2e4a1 !important;
}
.pointer{
  cursor: pointer;
}
</style>
