<template>
  <CustomHeader :headerValue="'Certifications'" />
  <hr class="my-6" />
  <CustomDisplayCert />
  <hr class="my-6" />
  <div class="my-4 border border-gray-200 text-left">
    <div class="text-center align-items-center row mx-1">
      <div class="col-8 p-0">
        <button class="text-small my-2 btn" @click="setDropdown()">
          Add Certifications
          <template v-if="showDrop">
            <font-awesome-icon icon="angle-down" class="pointer" />
          </template>
          <template v-else>
            <font-awesome-icon icon="angle-up" class="pointer" />
          </template>
        </button>
      </div>

      <div class="col-4">
        <button type="button" class="btn btn-dark btn-sm" @click="addCert()">
          <font-awesome-icon icon="plus" class="pointer" title="Add" />
        </button>
      </div>
    </div>
    <div class="mt-6 p-2" v-if="showDrop">
      <div>
        <div class="d-flex flex-column mb-6">
          <label class="my-2 text-uppercase text-xs"
            ><small class="my-1">Certificate Name</small></label
          ><input
            class="form-control"
            type="text"
            placeholder="Python"
            v-model="certName"
            @input="validateCertName()"
          /><small class="my-1">For ex: Python</small>
          <span v-if="errMsg.errCertName" class="errormsg">{{
            errMsg.errCertName
          }}</span>
        </div>
        <div class="d-flex flex-column mb-6">
          <label class="my-2 text-uppercase text-xs"
            ><small class="my-1">Certified From</small></label
          ><input
            class="form-control"
            type="text"
            placeholder="XYZ"
            v-model="certFrom"
            @input="validateCertFrom()"
          /><small class="my-1">For ex: XYZ</small>
          <span v-if="errMsg.errCertFrom" class="errormsg">{{
            errMsg.errCertFrom
          }}</span>
        </div>
        <div class="d-flex flex-column mb-6">
          <label class="my-2 text-uppercase text-xs"
            ><small class="my-1">Compelted On</small></label
          ><input
            class="form-control"
            type="number"
            placeholder="2020"
            v-model="certComplete"
            @input="validateCertComplete()"
          /><small class="my-1">For ex: 2020</small>
          <span v-if="errMsg.errCertComplete" class="errormsg">{{
            errMsg.errCertComplete
          }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomHeader from "@/components/atoms/CustomHeader.vue";
import CustomAdd from "@/components/atoms/CustomAdd.vue";
import CustomDisplayCert from "@/components/atoms/CustomDisplayCert.vue";
import { State, Action } from "vuex-class";
import { validators } from "@/validators/validators";

@Options({
  components: {
    CustomHeader,
    CustomAdd,
    CustomDisplayCert,
  },
})
export default class Certifications extends Vue {
  @State((state) => state.showList) showList;
  @State((state) => state.employeeData) employeeData;
  @Action("updateEmployeeData") updateEmployeeDataAction;
  showDrop = false;
  certName = "";
  certFrom = "";
  certComplete = "";
  errMsg = {
    errCertName: "",
    errCertFrom: "",
    errCertComplete: "",
  };

  setDropdown(): void {
    this.showDrop = !this.showDrop;
  }
  addCert(): void {
    if (
      this.certName === "" ||
      this.certFrom === "" ||
      this.certComplete === ""
    ) {
      this.showDrop = true;
      this.validateCertName();
      this.validateCertFrom();
      this.validateCertComplete();
    } else {
      this.employeeData.certificationdetails.push({
        certificationName: this.certName,
        institutionName: this.certFrom,
        completionYear: this.certComplete,
      });
      this.updateEmployeeDataAction({
        type: "certificateDetails",
        value: this.employeeData.certificateDetails,
      });
      this.certName = "";
      this.certFrom = "";
      this.certComplete = "";
    }
  }

  validateCertName(): void {
    if (validators.fieldValidator(this.certName)) {
      this.errMsg.errCertName = "";
    } else {
      this.errMsg.errCertName = "Certificate Name is required*";
    }
  }

  validateCertFrom(): void {
    if (validators.fieldValidator(this.certFrom)) {
      this.errMsg.errCertFrom = "";
    } else {
      this.errMsg.errCertFrom = "Certificate From is required*";
    }
  }

  validateCertComplete(): void {
    if (validators.fieldValidator(this.certComplete)) {
      this.errMsg.errCertComplete = "";
    } else {
      this.errMsg.errCertComplete = "Certificate Completion is required*";
    }
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
.text-small {
  font-size: 0.875rem;
}
.errormsg {
  font-size: 10px;
  color: red;
  display: flex;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
</style>