<template>
  <div
    v-for="(tech, index) in employeeData.technologydetails.skills"
    :key="tech.type"
  >
    <div class="row ml-1 my-2">
      <input
        type="checkbox"
        class="form-check col-2 mx-1 mt-1"
        v-model="showTechItems[index]"
        checked
      />
      <input
        type="text"
        class="form-control col-8"
        :value="tech.type"
        disabled
      />
    </div>
    <hr class="my-6" />
    <div v-for="ele in tech.items" :key="ele.id">
      <div class="row px-3">
        <input
          class="col-8 form-control mx-1 my-2"
          type="text"
          v-model="ele.skillName"
        />
        <button
          type="button"
          class="col-2 btn ml-2 text-center px-2"
          @click="deleteList(ele.skillName, tech.type)"
        >
          <font-awesome-icon icon="times" class="pointer" title="Delete" />
        </button>
      </div>
    </div>
    <hr class="my-6" />
    <CustomAdd
      :addValue="tech.type"
      :example="skillExamples[index]"
      :listType="'technologyDetails'"
    />
    <hr class="my-6" />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import CustomHeader from "@/components/atoms/CustomHeader.vue";
import CustomAdd from "@/components/atoms/CustomAdd.vue";
import { State, Action } from "vuex-class";

@Options({
  components: {
    CustomHeader,
    CustomAdd,
  },
})
export default class TechnicalSkills extends Vue {
  @State((state) => state.showList) showList;
  @State((state) => state.employeeData) employeeData;
  @State((state) => state.display) display;
  @State((state) => state.showTechItems) showTechItems;
  @State((state) => state.skillExamples) skillExamples;
  @Action("updateShowTechItems") updateShowTechItemsAction;

  showTech: boolean[] = [];
  skillExample: string[] = [];

  mounted(): void {
    this.employeeData.technologydetails.skills.forEach((ele) => {
      this.showTech.push(true);
    });
    this.updateShowTechItemsAction({
      type: "updateShowTechItems",
      value: this.showTech,
    });
    this.display.dispTech = false;
  }

  deleteList(listItem: string, techType: string): void {
    this.employeeData.technologydetails.skills.forEach((ele) => {
      if (ele.type === techType) {
        ele.items = ele.items.filter((skill) => {
          return skill.skillName !== listItem;
        });
      }
    });
  }
}
</script>
<style scoped>
* {
  word-break: break-all;
}
label {
  font-size: 0.75rem;
}
.form-control {
  font-size: 14px !important;
}
small {
  font-size: 0.7rem;
}
</style>